<div class="destaque-pagina" [ngStyle]="{'background-image': innerWidth > 768 ? 'url(' + mediaRepository + imagemDestaqueDesktop + ')' : 'url(' + mediaRepository + imagemDestaqueMobile + ')' }">
    <div class="container">
        <div class="row">
            <div class="col-md-7 col-lg-6">
                <h1 class="desktophighlightpink mobilehighlightpink" [ngStyle]="{'color': corTituloDestaque}">{{tituloDestaque}}</h1>
                <div class="desktopsubtittlewhite mobilesubtittlewhite" [ngStyle]="{'color': corSubTituloDestaque}">{{subTituloDestaque}}</div>
                <div class="textwhite" [ngStyle]="{'color': corDescricaoDestaque}">{{descricaoDestaque}}</div>
            </div>
        </div>
        <!-- <div *ngIf="startReservation" class="row">
            <div class="col-2">
                <a id="start-reservation" [ngx-scroll-to]="'slider-planos'">
                    Iniciar
                </a>
            </div>
        </div> -->
        <div class="row hidden-md-down">
            <div class="col-1">
                <a [ngx-scroll-to]="'slider-planos'">
                    <img src="assets/images/arrow-down-white.svg" alt="Loopster - Próxima seção" />
                </a>
            </div>
        </div>
    </div>
</div>