
  .destaque-pagina{
    background-position: center center;
    background-repeat: no-repeat; 
    background-size: cover;
    height: auto;
    padding: 10vh 0;
    background-position: top center;
    //height: calc(100vh - 100px);
    margin-top: 100px;
    @media(max-width: 360px){
        height: auto;
        padding: 70px 0;
    }
    @media (max-width: 768px){
        margin-top: 130px;
        height: auto;
    }
    @media (max-width: 767px){
      background-size: cover;
      border-radius: 0 0 0 60px;
      height: auto;
    }
    h1{
        //margin-top: 101px;
        margin-bottom: 30px;
        @media (max-width:767px){
          margin-top: 70px;
        }
        @media(max-width: 360px){
            margin-top: 0;
        }
    }
    .desktopsubtittlewhite{
        margin-bottom: 30px;
    }
    .textwhite{
        //margin-bottom: 133px;
        margin-bottom: 50px;
    }
    .mobilehighlightpink{

    }
}


#start-reservation{
    font-size: 12px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    padding: 10px 55px;
    border: 2px solid #fff;
    border-radius: 20px;
    @media(min-width: 768px){
        display: none;
    }
}

#simulador-destaque{
    .destaque-pagina{
        background-position: center center !important;
    }
}