<div class="dashboard-content dashboard-content__mobile">
    <div class="container">
        <div class="row">
            <div class="col-md-1 hidden-md-down">
                <a [routerLink]="['/concessionaria']" class="dashboard-back">
                    <img src="/assets/icons/nav-back.svg" />
                </a>
            </div>

            <div class="col-md-4 hidden-md-down">
                <div class="desktophighlightdark-grey">Contratos</div>
                <p class="textdark-grey">Nossos contratos, Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>

            <div class="col-md-12 personalForm-header__mobile hidden-lg-up">
                <a [routerLink]="['/concessionaria']" class="dashboard-back">
                    <img src="/assets/icons/nav-back.svg" />
                </a>
                <p class="personalForm-header__mobile-p">Contratos</p>
            </div>

            
            <div class="col-lg-6">
                <div class="dashbox loader-dash" *ngIf="loadingStatus">
                    <app-loading *ngIf="loadingStatus"></app-loading>
                </div>
                <div class="show-all-contracts" *ngIf="showAllContracts && !loadingStatus">
                    <div class="filter-contract" [ngClass]="contracts.length == 0 ? 'no-results-filter' : ''">
                        <div class="filter-contract__div-input">
                            <input type="text" class="filter-contract__input"
                                placeholder="Digite o nº do contrato ou nome do cliente"
                                (keyup)="searchInputContracts($event)" #inputFilter>

                            <img src="../../../assets/images/search.svg" alt="search.svg"
                                class="filter-contract__search-icon" [hidden]="isValueFilter">

                            <img src="../../../assets/images/close.svg" alt="search.svg"
                                class="filter-contract__search-icon filter-contract__search-icon--exit"
                                (click)="clearInputFilter()" [hidden]="!isValueFilter">

                            <p class="filter-contract__div-p" [hidden]="!results"><span
                                    class="filter-contract__div-span">{{ results }} resultados</span> para sua busca</p>
                        </div>

                        <div class="filter-contract__status" (click)="toggleHelper()"
                            [ngClass]="contracts.length == 0 ? 'hide-filter' : ''">
                            <img src="../../../assets/images/simulador/filter-icon.svg" alt="">
                            <p class="mb-0 filter-contract__status-p">Filtre por status</p>
                            <span class="filter-contract__status-span" [innerText]="infoOpenDesk ? '-' : '+'"></span>

                            <div class="info-box filter-contract__options"
                                [ngClass]="[infoOpen ? '' : 'hidden-info', infoOpenDesk ? 'show-options' : '']">
                                <div (click)="toggleHelper()" class="close-details-info"></div>
                                <ul class="filter-contract__options-ul">
                                    <li class="filter-contract__options-li" (click)="selectStatus(status)"
                                        *ngFor="let status of optionsStatus"
                                        [ngClass]="statusSelected == status.type ? 'filter-contract__options-li--active' : ''">
                                        {{ status.value }}</li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="list-contracts" *ngIf="contractsFiltered">
                        <div [routerLink]="['/concessionaria/contratos/', contract?.rentId]"
                            class="dashbox new-order-box" *ngFor="let contract of contractsFiltered">
                            <div class="last-order">
                                <div class="order-infos">
                                    <span>Cliente: <strong>{{ contract.annataRental?.rentalTableGet?.dirPartyTable_Name }}</strong></span>
                                    <span>Nº do pedido: <strong>{{ contract?.rentId }}</strong></span>
                                    <span>Data do pedido:
                                        <strong>{{ formatDateToBrLocale(contract.contractDate) }}</strong></span>
                                </div>
                                <div class="order-status" [ngClass]="[contract.status == 'Disponível' ? 'isAvailable' : '', contract.status == 'Encerrado' ? 'notAvailable' : '']" [innerHTML]="statusOrder(contract)"></div>
                            </div>
                        </div>

                        <div class="dashbox order-box-no-results" *ngIf="contractsFiltered.length == 0">
                            <p class="mb-0 order-box-no-results__p"><span class="order-box-no-results__span">Não existem
                                    resultados</span> para sua busca</p>
                        </div>
                    </div>
                </div>

                <div class="dashbox" *ngIf="showContract">
                    <div class="order-infos">
                        <span>Nº do pedido: <strong>211798073</strong></span>
                        <span>Data do pedido: <strong>22/10/2019</strong></span>
                        <div class="status-flag hidden-lg-up">Ativo</div>
                    </div>
                    <div class="status-flag hidden-md-down">Ativo</div>
                    <div class="download-buttons">
                        <a class="button-secundary buttontextpink">Contrato completo</a>
                        <a class="button-secundary buttontextpink">Procuração / Termo de aceite</a>
                        <a class="button-secundary buttontextpink">Termo de retirada do veículo</a>
                        <a class="button-secundary buttontextpink">Termo de entrega do veículo</a>
                        <a class="button-secundary buttontextpink">Outros documentos</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>