<div class="dashboard-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="notification">
                    <span>Atenção!</span> Você tem novas notificações.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div [routerLink]="['/concessionaria/perfil']" class="dash-box">
                    <img src="/assets/icons/dashboard/perfil.svg" />
                    <div class="title">Meu perfil</div>
                    <div class="text">Acesse seus dados cadastrados</div>
                    <div class="cta" [routerLink]="['/concessionaria/perfil']">Acesse agora</div>
                </div>
            </div>
            <div class="col-12 col-md-4">
                <div [routerLink]="['/concessionaria/contratos']" class="dash-box">
                    <img src="/assets/icons/dashboard/contrato.svg" />
                    <div class="title">Contratos</div>
                    <div class="text">Acesse para verificar contratos ativos, disponíveis e encerrados</div>
                    <div class="cta" [routerLink]="['/concessionaria/contratos']">Acesse agora</div>
                </div>
            </div>
        </div>
    </div>
</div>