.dashbox{
    ul{
        padding-left: 0;
        margin-left: 0;
        margin-bottom: 10px;
        li{
            list-style: none;
            border-radius: 15px;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
            background-color: #f7f7f7;
            padding: 20px;
            margin: 20px 0;

            &:last-child {
                margin-bottom: 0;
            }

            @media (max-width: 991.98px) {
                background-color: #fff;
            }
            .titulo-pergunta{
                font-family: 'RCI';
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #282832;
                text-align: left;
                cursor: pointer;
                @media (max-width:767px){
                    padding-right: 35px;
                    position: relative;
                }
                span{
                    position: relative;
                    display: inline-block;
                    float: right;
                    margin-left: 20px;
                    @media (max-width:767px){
                        position: absolute;
                        display: inline-flex;
                        right: 0px;
                    }
                    img{
                        transition: all 300ms ease;
                    }
                    &.opened-item{
                        img{
                            transition: all 300ms ease;
                            transform: rotate(-180deg);
                        }
                        
                    }
                }
            }
            .resposta-pergunta{
                margin-top: 20px;
                transition: 300ms linear;
                max-height: 15em;
                overflow: hidden;
                text-align: left;
                border-top: 1px solid #d8d8d8;
                padding-top: 15px;
                .car-name{
                    font-size: 32px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.31;
                    letter-spacing: normal;
                    color: #282832;
                    margin-bottom: 20px;
                }
                .order-date{
                    font-size: 16px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 2;
                    letter-spacing: normal;
                    color: #282832;
                    strong{
                        font-weight: 600;
                    }
                }
                .local-name{
                    font-size: 16px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #282832;
                }
                .local-address{
                    font-size: 16px;
                    font-weight: 300;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: normal;
                    letter-spacing: normal;
                    color: #282832;
                }
                &.hidden-teste{
                    margin-top: 0px;
                    max-height: 0;
                    overflow: hidden;
                    transition: 300ms linear;
                    border: none;
                    padding-top: 0;
                }
            }
        }
    }
    .order-number{
        font-size: 22px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: normal;
        color: #282832;
        margin-bottom: 15px;
    }
    .order-date{
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 2;
        letter-spacing: normal;
        color: #282832;
        strong{
            font-weight: 600;
        }
    }
    .order-progress{
        position: relative;
        margin: 25px 0 35px 0;

        @media (max-width: 320px) {
            margin: 25px 0 40px 0;
        }

        .status-progress{
            position: relative;
            display: inline-block;
            width: 25%;
            .status-bullet{
                width: 24px;
                height: 24px;
                -o-object-fit: contain;
                object-fit: contain;
                border: solid 2px #adadad;
                background-color: #fff;
                position: relative;
                display: block;
                margin: 0 auto;
                border-radius: 100%;
                z-index: 2;
                &.first-bullet{
                    margin: 0;
                }
                &.last-bullet{
                    margin-right: 0;
                    margin-left: auto;

                    @media (max-width: 320px) {
                        top: 2px;
                    }
                }
                &.second-bullet{
                    margin-left: 25%;

                    @media (min-width: 768px) and (max-width: 991.98px) {
                        margin-left: 33%;
                    }
                }
                &.third-bullet{
                    margin-left: 50%;

                    @media (max-width: 320px) {
                        top: 15px;
                    }
                }
            }
            span{
                font-size: 10px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #282832;
                position: relative;
                display: block;
                top: 20px;

                @media (max-width: 320px) {
                    top: 30px;
                }
            }
            &:after{
                content: "";
                position: absolute;
                width: 100px;
                height: 2px;
                background-color: #adadad;
                top: 25%;
                left: 0;
                width: 100%;
                z-index: 0;
            }
            &.past-status{
                .status-bullet{
                    background-image: url('/assets/images/simulador/check-step-white.svg');
                    background-position: center center;
                    background-size: 65%;
                    background-repeat: no-repeat;
                    width: 40px;
                    height: 40px;
                    border: none;
                    background-color: #FF7900;
                    margin-bottom: -8px;
                    z-index: 3;

                    @media (max-width: 320px) {
                        margin-bottom: -22px;
                    }
                }
                &:after{
                    content: "";
                    top: 35%;
                    background-color: #FF7900;
                    width: 8vw;
                    z-index: 2;

                    @media (max-width: 991.98px) {
                        width: 31vw;
                    }

                    @media (min-width: 992px) and (max-width: 1199.98px) {
                        width: 15vw;
                    }
                }
            }
            &.current-status{
                .status-bullet{
                    width: 40px;
                    height: 40px;
                    border: none;
                    border: 2px solid #282832;
                    background-color: #fff;
                    margin-bottom: -8px;
                    &:after{
                        content: "";
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        background-color: #282832;
                        border-radius: 100%;
                        left: 16.5%;
                        top: 17%;
                    }
                }
                &:after{
                    content: "";
                    top: 35%;
                }
            }
            &.second-status{
                span{
                    text-align: center;
                    padding-right: 20px;

                    @media (max-width: 575.98px) {
                        padding-right: 0px;
                    }
                }
            }
            &.third-status{
                span{
                    text-align: center;
                    padding-left: 25px;
                }

                @media (max-width: 320px) {
                    &:after {
                        top: 41%;
                    }
                }
            }
            &.last-status{
                span{
                    text-align: right;
                }
            }
        }
    }

    .button-secundary{
        display: flex;
        width: 70%;
        margin-bottom: 15px;
        justify-content: center;
        
        &.button-icon {
            background-image: url('/assets/icons/download.svg');
            background-repeat: no-repeat;
            background-position: 90% center;
        }

        @media (max-width: 767.98px) {
            font-size: 11px;            
        }
    }

    .resposta-pergunta__p {
        font-size: 13px;
        margin: 10px 0 30px;
    }
}

.dashboard-content {
    @media (max-width: 991.98px) {
        margin-top: 0 !important;
        padding: 0 !important;
        background-color: #fff !important;
    }

    .container {
        @media (max-width: 991.98px) {
            padding: 0;
            margin: 0;
            max-width: 991px;

            .col-md-12, .col-lg-6 {
                padding: 0;
            }
        }
    }

    .container > .row {
        @media (max-width: 991.98px) {
            margin: 0;
        }
    }

    .col-lg-6 {

        .dashbox {
            @media (max-width: 991.98px) {
                padding: 30px !important;
                box-shadow: none;
                background-color: #F7F7F7 !important;
                border-radius: 0;
                margin: 0;
            }
        }
    }
}

.personalForm-header__mobile {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;

    .dashboard-back {
        position: absolute;
        left: 30px;
    }

    .personalForm-header__mobile-p {
        margin: 0;
        font-size: 16px;
        color: #FF7900;
        font-weight: 600;
    }
}

.btn-inputfile {
    position: relative;
}

.status-flag {
    border-radius: 5px;
    background-color: #FF7900;
    font-size: 12px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #fff;
    padding: 8px 10px;
    margin-left: 30px;
    position: absolute;
    top: 47px;
    right: 55px;
    min-width: 97px;

    &.status-not-available {
        background-color: #adadad;
    }

    @media (max-width: 991.98px) {
        top: 0;
        left: 0;
        margin: 10px 0 25px 20px;
        max-width: 85px;
        position: relative;
    }
}

.order-status-vehicle {
    height: 75px;
    text-align: center;
    line-height: 75px;
    background-color: #FF7900;
    border-radius: 15px;
    margin: 30px 0 30px;
    color: #fff;
    font-weight: bold;
    font-family: "RCI";
    cursor: pointer;

    @media (max-width: 991.98px) {
        margin: 0;
        border-radius: 0px 0px 15px 15px;
        height: 60px;
        line-height: 60px;
    }
}

.dashbox-mobile {
    @media (max-width: 991.98px) {
        border-radius: 15px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        padding: 15px 0 0;
        margin: 0px 0 20px;
    }

    .order-date {
        @media (max-width: 991.98px) {
            margin: 0 20px;
        }
    }

    &.vehicle-client-notAvailable {
        @media (max-width: 991.98px) {
            padding-bottom: 1px;
        }
    }
}

.desktophighlightdark-grey {
    @media (min-width: 992px) and (max-width: 1199.98px) {
        font-size: 4em;
    }
}