<nav *ngIf="mostrarMenu">
  <div>
    <ul>
      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/']">Home</a>
      </li>

      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/login']">Login</a>
      </li>

      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/cursos']" [queryParams]="{pagina:1}">Cursos</a>
      </li>

      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/cursos', idCurso.value]">Curso com id</a>
      </li>

      <li [routerLinkActive]="['active']">
        <a [routerLink]="['/alunos']">Alunos</a>
      </li>
    </ul>
  </div>
</nav>

<div>
  <label>Entre com o id do curso:</label>
  <input type="" value="" #idCurso>
</div>

<router-outlet></router-outlet>
