<div class="container" style="margin: 200px">
    <div class="row">
        <div class="span12">
            <form [formGroup]="form" class="form-horizontal">
                <fieldset>
                    <div id="legend">
                        <legend class="">Complete suas informações</legend>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="name">Nome</label>
                        <div class="controls">
                            <input type="text" formControlName="name" id="name" name="name" placeholder=""
                                class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="email">Email</label>
                        <div class="controls">
                            <input type="text" id="email" name="email" formControlName="email" placeholder=""
                                class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Username -->
                        <label class="control-label" for="username">Documento</label>
                        <div class="controls">
                            <input type="text" id="document" name="document" formControlName="document" placeholder=""
                                class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Senha</label>
                        <div class="controls">
                            <input type="password" id="password" name="password" formControlName="password"
                                placeholder="" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Password-->
                        <label class="control-label" for="password">Senha</label>
                        <div class="controls">
                            <input type="password" id="passwordConfirmation" name="passwordConfirmation"
                                formControlName="passwordConfirmation" placeholder="" class="input-xlarge">
                        </div>
                    </div>
                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                            <button class="btn btn-success" (click)="onSubmit()">Cadastrar</button>
                        </div>
                        <div class="controls">
                            <button class="btn btn-warning" [routerLink]="['/login']">Voltar</button>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>