<div class="passos-simulacao" [ngClass]="[breadCrumbStatus, finalizacaoSimulador]">
    <div class="container hidden-sm-down">
        <div class="row">
            <div class="col-12">
                <span class="textwhite">Passo a passo do cadastro:</span>
                <nav aria-label="breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item " [ngClass]="step1Status" [ngStyle]="{'z-index' : 9}"><a [routerLink]="['/cadastro']"><span *ngIf="step1Status !== 'past-step'" class="step-bullet">1</span><span *ngIf="step1Status == 'past-step'" class="step-bullet"><img src="/assets/images/simulador/check-step.svg" /></span>Dados Pessoais</a></li>
                        <li class="breadcrumb-item " [ngClass]="step2Status" [ngStyle]="{'z-index' : 8}"><a [routerLink]="['/cadastro/nacionalidade']"><span *ngIf="step2Status !== 'past-step'" class="step-bullet">2</span><span *ngIf="step2Status == 'past-step'" class="step-bullet"><img src="/assets/images/simulador/check-step.svg" /></span>Nacionalidade</a></li>
                        <li class="breadcrumb-item " [ngClass]="step3Status" [ngStyle]="{'z-index' : 7}"><a [routerLink]="['/cadastro/endereco']"><span *ngIf="step3Status !== 'past-step'" class="step-bullet">3</span><span *ngIf="step3Status == 'past-step'" class="step-bullet"><img src="/assets/images/simulador/check-step.svg" /></span>Endereço</a></li>
                        <li class="breadcrumb-item" [ngClass]="step4Status" [ngStyle]="{'z-index' : 6}"><a [routerLink]="['/cadastro/documentos']"><span *ngIf="step4Status !== 'past-step'" class="step-bullet">4</span><span *ngIf="step4Status == 'past-step'" class="step-bullet"><img src="/assets/images/simulador/check-step.svg" /></span>Documentos</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <nav aria-label="breadcrumb" class="hidden-md-up">
        <ul class="breadcrumb">
            <li class="breadcrumb-item " [ngClass]="step1Status" [ngStyle]="{'z-index' : 9}"><a [routerLink]="['/cadastro']"><span *ngIf="step1Status !== 'past-step'" class="step-bullet">1</span><span *ngIf="step1Status == 'past-step'" class="step-bullet"><img src="/assets/images/simulador/check-step.svg" /></span></a></li>
            <li class="breadcrumb-item " [ngClass]="step2Status" [ngStyle]="{'z-index' : 8}"><a [routerLink]="['/cadastro/nacionalidade']"><span *ngIf="step2Status !== 'past-step'" class="step-bullet">2</span><span *ngIf="step2Status == 'past-step'" class="step-bullet"><img src="/assets/images/simulador/check-step.svg" /></span></a></li>
            <li class="breadcrumb-item " [ngClass]="step3Status" [ngStyle]="{'z-index' : 7}"><a [routerLink]="['/cadastro/endereco']"><span *ngIf="step3Status !== 'past-step'" class="step-bullet">3</span><span *ngIf="step3Status == 'past-step'" class="step-bullet"><img src="/assets/images/simulador/check-step.svg" /></span></a></li>
            <li class="breadcrumb-item" [ngClass]="step4Status" [ngStyle]="{'z-index' : 6}"><a [routerLink]="['/cadastro/documentos']"><span *ngIf="step4Status !== 'past-step'" class="step-bullet">4</span><span *ngIf="step4Status == 'past-step'" class="step-bullet"><img src="/assets/images/simulador/check-step.svg" /></span></a></li>
        </ul>
    </nav>
</div>