.register-step{
    background: #ffffff !important;
    padding: 100px 0;
    margin-top: 100px;
    min-height: 70vh !important;
    position: sticky;
    overflow: hidden;
    @media(max-width:767px){
        background-color: #f7f7f7 !important;        ;
        border-radius: 0 0 0 60px;
    }
    &:after{
        content: "";
        top: 14%;
        position: absolute;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: #f7f7f7;
        border-radius: 60px 0px 0px 60px;
        z-index: -1;
        @media(max-width:767px){
            display: none;
        }
    }
    .conclusion-title{
        font-size: 4.5em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.11;
        letter-spacing: -2px;
        color: #FF7900;
        padding-left: 125px;
        @media(max-width:767px){
            font-size: 34px;
            padding-left: 0;
            padding-right: 70px;
            margin-bottom: 30px;
        }
    }
    .coluna-titulo {
        margin-top: 4vw;
        @media(max-width:767px){
            margin-bottom: 0;
        }
        .seu-carro{
            font-size: 16px;
            font-weight: bold;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #282832;
            margin-bottom: 20px;
            padding-top: 25px;
            @media(max-width:767px){
                margin-bottom: 5px;
            }
        }
        .nome-carro{
            margin-bottom: 30px;
            @media(max-width:767px){
                margin-bottom: 10px;
            }
        }
        .nome-versao{
            margin-bottom: 50px;
            @media(max-width:767px){
                font-size: 1.375em;
            }
        }
        ul{
            margin-left: 0;
            padding-left: 0;
            margin-bottom: 80px;
            @media(max-width:767px){
                padding-left: 15px;
            }
            li{
                margin-bottom: 30px;
                list-style-image: url('/assets/images/simulador/check.svg');
                @media(min-width:768px){
                    list-style: inside;
                    list-style-image: url('/assets/images/simulador/check.svg');
                }
                @media(max-width:767px){
                    margin-bottom: 20px;
                    padding-left: 10px;
                }
                
            }
        }
    }
    .coluna-infos-conclusao{
        padding-top: 100px;
        padding-left: 70px;
        @media(max-width:767px){
            padding-left: 15px;
            padding-top: 0;
        }
        .tittledark-grey{
            margin-bottom: 40px;
        }
        .conclusion-mail{
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #282832;
            margin-bottom: 25px;
        }
        .textdark-grey{
            margin-bottom: 25px;
        }
        .conclusion-cta{
            .cta-title{
                font-size: 12px;
                font-weight: normal;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #282832;
                margin-bottom: 10px;
            }
            .cta-button{
                width: 100%;
                margin-bottom: 30px;
                &.resubmited-mail{
                    background-color: #FF7900;
                    color: #fff !important;
                    border-color: #FF7900 !important;
                    img{
                        position: relative;
                        margin-right:10px;
                        top: -2px; 
                    }
                }
            }
        }
    }
}