<div class="status-content">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <!-- <app-loading loaderClass="price-loader" *ngIf="loadingStatus"></app-loading> -->

                <div class="status received-docs">
                    <div class="status-mobile__div1">
                        <div class="icon">
                            <img src="/assets/images/checkout/approved.svg" />
                        </div>
                        <div class="status-title">Seu cadastro foi confirmado com sucesso</div>
                    </div>
                    <div class="status-info status-info--mobile">Você já pode seguir com a sua contração!</div>
                    <div *ngIf="response?.leadUserSimulation" class="status-buttons">
                        <a href="javascript:void(0)" (click)="contract()"
                            class="button-secundary buttontextpink">Contratar</a>
                    </div>
                    <div *ngIf="!response?.leadUserSimulation" class="status-buttons">
                        <a href="javascript:void(0)" [routerLink]="['/simulador']"
                            class="button-secundary buttontextpink">Simular agora</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>