.infos-list{
    span{
        width: 85%;
        display: block;
        margin-bottom: 25px;
    }
    .register-title{
      display: none;
      @media(max-width: 767px){
        display:block;
      }
    }
    a.doc-item{
        border-radius: 10px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        background-color: #f7f7f7;
        position: relative;
        display: block;
        width: 330px;
        margin-bottom: 15px;
        padding: 18px 30px;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #282832;
        cursor: pointer;
        transition: all 100ms ease-in;
        background-image: url('/assets/images/register/button-arrow.svg');
        background-repeat: no-repeat;
        background-position: 90% center;
        @media(max-width:767px){
          width: 100%;
          background-color: transparent;
          box-shadow: none;
          border-bottom: 1px solid #282832;
          border-radius: 0;
          padding: 18px 20px;
          margin-bottom: 0;
          &:first-of-type{
            border-top:1px solid #282832;
          }
        }
        &:hover,
        &.active{
            background-image: url('/assets/images/register/button-arrow-white.svg');
            background-color: #FF7900;
            color:#fff;
            @media(max-width:767px){
              color: #282832;
              background-color: #fff;
            }
        }
        &.active{
            background-image: url('/assets/images/simulador/check-step-white.svg');
            @media(max-width:767px){
              background-image: url('/assets/images/simulador/check-step.svg');
            }
        }
        span.see-photo{
            position: absolute;
            right: 60px;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #fff;
            top: 20px;
            width: auto;
            @media(max-width:767px){
              color: #FF7900;
            }
        }
    }
    .actions-step {
        display: inline-block;
        overflow: auto;
        white-space: nowrap;
        margin: 0px auto;
        width: 100%;
        padding: 25px 0 0 0;
        .left-button {
          float: left;
          width: 164px;
        }
        .right-button {
          width: 164px;
          float: right;
        }
        .back-button{
          border-radius: 20px;
          border: solid 2px #adadad;
          font-size: 12px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #adadad;
          background-color: #fff;
          padding: 10px 37px;
        }
        .upload-btn-wrapper {
          position: relative;
          overflow: hidden;
          display: inline-block;
        }
        .btn-upload {
          border-radius: 20px;
          border: solid 2px #282832;
          font-size: 12px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #FF7900;
          background-color: #fff;
          padding: 10px 37px;
          cursor: pointer;
          &:hover {
            background-color: #282832;
          }
        }
  
        .upload-btn-wrapper input[type="file"] {
          z-index: 6;
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 1;
          z-index: -1;
          &:hover{
            display: none;
          }
        }
      }
}

.face-photo {
    padding: 45px !important;
    @media(max-width:767px){
      padding: 15px !important;
    }
    .header {
      background-image: url("/assets/images/register/selfie.svg");
      background-repeat: no-repeat;
      background-position: center right;
      padding-right: 215px;
      padding-bottom: 25px;
      h1 {
        font-size: 34px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.18;
        letter-spacing: normal;
        color: #FF7900;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 30px;
      }
    }
    .selfie-infos {
      .item {
        position: relative;
        display: block;
        padding-right: 150px;
        width: 100%;
        float: left;
        margin-bottom: 50px;
        img {
          display: block;
          position: relative;
          float: left;
          margin-right: 15px;
        }
        span {
          display: block;
          position: relative;
        }
      }
    }
    .actions-step {
      display: inline-block;
      overflow: auto;
      margin: 0px auto;
      width: 100%;
      padding: 25px 0 0 0;
      .left-button {
        float: left;
        width: 164px;
      }
      .right-button {
        width: 164px;
        float: right;
      }
      .back-button{
        border-radius: 20px;
        border: solid 2px #adadad;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #adadad;
        background-color: #fff;
        padding: 10px 37px;
      }
      .upload-btn-wrapper {
        position: relative;
        overflow: hidden;
        display: inline-block;
      }
      .btn-upload {
        border-radius: 20px;
        border: solid 2px #282832;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #FF7900;
        background-color: #fff;
        padding: 10px 37px;
        cursor: pointer;
        &:hover {
          background-color: #282832;
        }
      }
  
      .upload-btn-wrapper input[type="file"] {
        z-index: 6;
        font-size: 100px;
        position: absolute;
        left: 0;
        top: 0;
        opacity: 0;
      }
    }
    img.selfie-moile{
      text-align: center;
      display: block;
      width: 70%;
      margin: 40px auto;
    }
    .photo-buttons{
      position: relative;
      display: block;
      a{
        width: 100%;
        border:2px solid #fff;
        border-radius: 20px;
        color:#fff !important;
        text-align: center;
        height: 40px;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        margin-bottom: 10px;
      }
    }
    .upload-mobile,
    .camera-mobile{
      .actions-step-upload {
        display: inline-block;
        overflow: auto;
        white-space: nowrap;
        margin: 0px auto;
        width: 100%;
        padding: 25px 0 0 0;
        .upload-btn-wrapper {
          position: relative;
          overflow: hidden;
          display: inline-block;
          width: 100%;
        }
        .btn-upload {
          width: 100%;
          border-radius: 20px;
          border: solid 2px #fff;
          font-size: 12px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #fff;
          background-color: transparent;
          padding: 10px 37px;
          cursor: pointer;
          &:hover {
            background-color: #282832;
          }
        }
    
        .upload-btn-wrapper input[type="file"] {
          z-index: 6;
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }
      }
      .instructions-list{
        padding-left: 0;
        li {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          margin-bottom: 39px;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          img{
            float: left;
            margin-right: 19px;
          }
          p{
            color: #fff;
            font-family: "RCI", sans-serif;
            font-size: 16px;
            font-weight: 300;
            margin: 0;
            letter-spacing: -.1px;
          }
        }
      } 
    }
    .mobile-photo{
      @media(max-width:360px){
        .tittlewhite{
          font-size: 30px;
        }
        .textwhite{
          font-size: 14px;
        }
        .selfie-moile{
          display: block;
          width: 40%;
          margin: 17px auto;
        }
      }
    }
    .upload-mobile,
    .camera-mobile{
      @media(max-width:360px){
        .tittlewhite{
          font-size: 30px;
        }
        .textwhite{
          font-size: 14px;
        }
        .instructions-list{
          li{
            margin-bottom: 10px;
            img{
              width: 50px;
            }
            p{
              font-size: 14px;
            }
          }
        }
      }
    }
}

.cnh-photo{
    padding: 45px !important;
    @media(max-width:767px){
      padding: 15px !important;
    }
    .header {
      background-image: url("/assets/images/register/cnh.svg");
      background-repeat: no-repeat;
      background-position: center right;
      padding-right: 215px;
      padding-bottom: 1px;
      h1 {
        font-size: 34px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.18;
        letter-spacing: normal;
        color: #282832;
        margin-bottom: 20px;
      }
      p {
        margin-bottom: 30px;
      }
    }
    .cnh-infos {
      .item {
        position: relative;
        display: block;
        width: 100%;
        float: left;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        img {
          display: block;
          position: relative;
          float: left;
          margin-right: 15px;
        }
        span {
          display: block;
          position: relative;
          a{
            position: relative;
            display: block;
            font-weight: 600;
            text-decoration: underline;
            cursor: pointer;
          }
        }
      }
    }
    .actions-step {
        display: inline-block;
        overflow: auto;
        white-space: nowrap;
        margin: 0px auto;
        width: 100%;
        padding: 25px 0 0 0;
        .left-button {
          float: left;
          width: 164px;
        }
        .right-button {
          width: 164px;
          float: right;
        }
        .back-button{
          border-radius: 20px;
          border: solid 2px #adadad;
          font-size: 12px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #adadad;
          background-color: #fff;
          padding: 10px 37px;
        }
        .upload-btn-wrapper {
          position: relative;
          overflow: hidden;
          display: inline-block;
        }
        .btn-upload {
          border-radius: 20px;
          border: solid 2px #282832;
          font-size: 12px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #FF7900;
          background-color: #fff;
          padding: 10px 37px;
          cursor: pointer;
          &:hover {
            background-color: #282832;
          }
        }
    
        .upload-btn-wrapper input[type="file"] {
          z-index: 6;
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }
      }
      img.selfie-moile{
        text-align: center;
        display: block;
        width: 70%;
        margin: 40px auto;
      }
      .photo-buttons{
        position: relative;
        display: block;
        a{
          width: 100%;
          border:2px solid #fff;
          border-radius: 20px;
          color:#fff !important;
          text-align: center;
          height: 40px;
          font-size: 12px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          margin-bottom: 10px;
        }
      }
      .upload-mobile,
      .camera-mobile{
        .actions-step-upload {
          display: inline-block;
          overflow: auto;
          white-space: nowrap;
          margin: 0px auto;
          width: 100%;
          padding: 25px 0 0 0;
          .upload-btn-wrapper {
            position: relative;
            overflow: hidden;
            display: inline-block;
            width: 100%;
          }
          .btn-upload {
            width: 100%;
            border-radius: 20px;
            border: solid 2px #fff;
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #fff;
            background-color: transparent;
            padding: 10px 37px;
            cursor: pointer;
            &:hover {
              background-color: #282832;
            }
          }
      
          .upload-btn-wrapper input[type="file"] {
            z-index: 6;
            font-size: 100px;
            position: absolute;
            left: 0;
            top: 0;
            opacity: 0;
          }
        }
        .instructions-list{
          padding-left: 0;
          li {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            margin-bottom: 39px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            img{
              float: left;
              margin-right: 19px;
            }
            p{
              color: #fff;
              font-family: "RCI", sans-serif;
              font-size: 16px;
              font-weight: 300;
              margin: 0;
              letter-spacing: -.1px;
              a{
                position: relative;
                display: block;
              }
            }
          }
        } 
      }
      .mobile-photo{
        @media(max-width:360px){
          .tittlewhite{
            font-size: 30px;
          }
          .textwhite{
            font-size: 14px;
          }
          .selfie-moile{
            display: block;
            width: 40%;
            margin: 17px auto;
          }
        }
      }
      .upload-mobile,
      .camera-mobile{
        @media(max-width:360px){
          .tittlewhite{
            font-size: 30px;
          }
          .textwhite{
            font-size: 14px;
          }
          .instructions-list{
            li{
              margin-bottom: 10px;
              img{
                width: 50px;
              }
              p{
                font-size: 14px;
              }
            }
          }
        }
      }
}

.cnh-infos{
    span{
        display: block;
        margin-bottom: 25px;
    }
    .cnh-tip{
        margin-bottom: 0;
    }
    .actions-step {
        display: inline-block;
        overflow: auto;
        white-space: nowrap;
        margin: 0px auto;
        width: 100%;
        padding: 25px 0 0 0;
        .left-button {
          float: left;
          width: 164px;
        }
        .right-button {
          width: 164px;
          float: right;
        }
        .back-button{
          border-radius: 20px;
          border: solid 2px #adadad;
          font-size: 12px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #adadad;
          background-color: #fff;
          padding: 10px 37px;
        }
        .upload-btn-wrapper {
          position: relative;
          overflow: hidden;
          display: inline-block;
        }
        .btn-upload {
          border-radius: 20px;
          border: solid 2px #282832;
          font-size: 12px;
          font-weight: bold;
          font-stretch: normal;
          font-style: normal;
          line-height: normal;
          letter-spacing: normal;
          text-align: center;
          color: #FF7900;
          background-color: #fff;
          padding: 10px 37px;
          cursor: pointer;
          &:hover {
            background-color: #282832;
          }
        }
    
        .upload-btn-wrapper input[type="file"] {
          z-index: 6;
          font-size: 100px;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
        }
      }
}
  
.modal-body{
  img{
      width: 100%;
  }

  @media (max-width: 320.98px) {
    .actions-step {
      display: flex;
      justify-content: space-between;

      .btn-upload, .button-nitidez {
        padding: 10px 10px;
        width: auto;
      }
    }
  }
}