.floating-label{
  &.half-input{
    width: 50%;
    display: inline-block;
  }
  &.small-input{
    width: 30%;
    display: inline-block;
  }
  &.medium-input{
    width: 60%;
    display: inline-block;
  }
  &.ml-input{
    margin-left: 10%;
  }
  &.mr-input{
    margin-right: 10%;
  }
  &.cep-full{
    @media(max-width:767px){
      width: 100%;
    }
  }
}

.actions-step {
    display: inline-block;
    overflow: auto;
    white-space: nowrap;
    margin: 0px auto;
    width: 100%;
    padding: 25px 0 0 0;
    .left-button {
      float: left;
      width: 164px;
    }
    .right-button {
      width: 164px;
      float: right;
    }
    .back-button{
      border-radius: 20px;
      border: solid 2px #adadad;
      font-size: 12px;
      font-weight: bold;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: center;
      color: #adadad;
      background-color: #fff;
      padding: 10px 37px;
    }
    button, a{
      @media(max-width:767px){
        width: 100% !important;
      }
    }
  }
