<div class="register-step">
  <div class="container">
    <div class="row">
      <div class="col-md-5 offset-md-1">
        <h1 class="desktophighlightdark-grey register-title">Faça seu cadastro</h1>
        <span class="textdark-grey register-subtitle hidden-md-down">Preencha com os dados completos do seu
          endereço.</span>
        <span class="textdark-grey register-subtitle hidden-md-up">Preencha seus dados pessoais.</span>
      </div>
      <div class="col-md-6 form-box">
        <form [formGroup]="form" name="resume-form" class="floating-form">
          <div class="floating-label half-input cep-full">
            <input class="floating-input" name="zipCode" type="text" (focus)="onFocus()" (blur)="onBlur()"
              mask="99999-999" formControlName="addressCEP" (keyup)="searchAddress($event)" type="text" placeholder=" ">
            <label>CEP</label>
            <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('addressCEP')">CEP inválido</span>
          </div>
          <div class="floating-label">
            <input class="floating-input" name="address" type="text" (focus)="onFocus()" (blur)="onBlur()"
              formControlName="address" type="text" placeholder=" ">
            <label>Endereço</label>
            <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('address')">Endereço inválido</span>
          </div>
          <div class="floating-label small-input">
            <input class="floating-input" name="addressNumber" type="text" (focus)="onFocus()" (blur)="onBlur()"
              formControlName="addressNumber" type="text" placeholder=" " #addressNumber>
            <label>Número</label>
          </div>
          <div class="floating-label medium-input ml-input">
            <input class="floating-input" name="addressComplement" type="text" (focus)="onFocus()" (blur)="onBlur()"
              formControlName="addressComplement" type="text" placeholder=" ">
            <label>Complemento</label>
          </div>
          <div class="floating-label">
            <input class="floating-input" name="addressNeighborhood" type="text" (focus)="onFocus()" (blur)="onBlur()"
              formControlName="addressNeighborhood" type="text" placeholder=" ">
            <label>Bairro</label>
            <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('addressNeighborhood')">Bairro
              inválido</span>
          </div>
          <div class="floating-label medium-input">
            <input class="floating-input" name="addressCity" type="text" (focus)="onFocus()" (blur)="onBlur()"
              formControlName="addressCity" type="text" placeholder=" "  [attr.disabled]="true">
            <label>Cidade</label>
            <!-- <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('addressCity')">Cidade inválida</span> -->
          </div>
          <div class="floating-label small-input ml-input">
            <input class="floating-input" name="addressUF" type="text" (focus)="onFocus()" (blur)="onBlur()"
              formControlName="addressState" type="text" maxlength="2" placeholder=" "  [attr.disabled]="true">
            <label>Estado</label>
            <!-- <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('addressState')">Sigla de estado inválida</span> -->
          </div>
          <div class="actions-step">
            <a [routerLink]="['/cadastro/nacionalidade']"
              class="button-secundary left-button back-button hidden-md-down">Voltar</a>
            <button type="submit" name="submit" (click)="onSubmit()" class="button-secundary buttontextpink right-button">Continuar</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<app-breadCrumb *ngIf="showBreadcrumbMobile" breadCrumbStatus="has-step" step1Status="past-step" step2Status="past-step"
  step3Status="active" step4Status="" finalizacaoSimulador="" #breadCrumbComponent>
</app-breadCrumb>
