<div class="register-step">
  <div (click)="toggleHelper()" class="fundo" [ngClass]="infoOpen ? '' : 'fundo-hidden'"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-5 offset-md-1">
        <h1 class="desktophighlightdark-grey register-title">Faça seu cadastro</h1>
        <span class="textdark-grey register-subtitle hidden-md-down">Preencha com sua data de nascimento e sua
          nacionalidade, se você for estrangeiro favor preencher o RNE.</span>
        <span class="textdark-grey register-subtitle hidden-md-up">Preencha seus dados pessoais.</span>
      </div>
      <div class="col-md-6 form-box">
        <form [formGroup]="form" name="resume-form" class="floating-form">
          <div class="floating-label">
            <input class="floating-input" formControlName="birthDate" name="birthDate" (focus)="onFocus()"
              (blur)="onBlur()" [dropSpecialCharacters]="false" mask="09/09/0009" type="text" placeholder=" ">
            <label>Data de Nascimento</label>
            <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('birthDate')">Data de nascimento
              inválida</span>
          </div>
          <div class="floating-label select-label">
            <select class="floating-select" formControlName="nationality" (focus)="onFocus()" (blur)="onBlur()"
              (change)="selectNationality($event.target.value)" onclick="this.setAttribute('value', this.value);"
              value="sessionUser.nationality">
              <option value=""></option>
              <option *ngFor="let opt of nations" [value]="opt.key">
                {{opt.value}}</option>
            </select>
            <label>Nacionalidade</label>
            <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('nationality')">Selecione sua
              nacionalidade</span>
          </div>
          <div *ngIf="!isBrazilian" class="floating-label floating-tooltip">
            <input class="floating-input" formControlName="rne" (focus)="onFocus()" (blur)="onBlur()" name="RNE"
              type="text" placeholder=" ">
            <label>RNE</label>
            <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('rne')">RNE inválida</span>
            <span (click)="toggleHelper()" class="form-info">?</span>
            <div class="info-box" [ngClass]="infoOpen ? '' : 'hidden-info' ">
              <div (click)="toggleHelper()" class="close-details-info"></div>
              <h1 class="tittledark-grey hidden-md-up">RNE</h1>
              <p class="textdark-grey hidden-md-up">O Registro Nacional de Estrangeiros é o documento que
                no Brasil atesta a identidade de indivíduos estrangeiros com residência temporária ou
                permanente no território da Federação</p>
              <img src="/assets/images/register/RNA.jpg" />
            </div>
          </div>
          <div class="floating-label disclaimer-label">
            <input class="floating-input" formControlName="password" name="password" (focus)="onFocus()"
              (blur)="onBlur()" type="password" placeholder=" ">
            <label>Senha</label>
            <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('password')">Senha
              inválida</span>
              <span class="pass-disclaimer">Mínimo: 1 caracter especial e 6 dígitos</span>
          </div>
          <div class="floating-label">
            <input class="floating-input" formControlName="confirmPassword" name="confirmPassword" (focus)="onFocus()"
              (blur)="onBlur()" type="password" placeholder=" ">
            <label>Confirmação de senha</label>
            <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('confirmPassword')">Confirmação de senha
              inválida</span>
          </div>
          <div class="actions-step">
            <a [routerLink]="['/cadastro']" class="button-secundary left-button back-button hidden-md-down">Voltar</a>
            <button type="submit" name="submit" (click)="onSubmit()"
              class="button-secundary buttontextpink right-button">Continuar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-breadCrumb *ngIf="showBreadcrumbMobile" breadCrumbStatus="has-step" step1Status="past-step" step2Status="active"
  step3Status="" step4Status="" finalizacaoSimulador="" #breadCrumbComponent>
</app-breadCrumb>