
.card-icon{
    font-size: 75px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.card-text{
    font-size: 35px;
    margin-top: 0px;    
    margin-bottom: 10px;
}

p{
    color: var(--ion-color-primary);
}

ion-toolbar{
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

ion-content{
    --background: rgb(226, 226, 226);
}

.main-message{
    text-align: center;
    font-size: 24px;
    margin: 10px 0; 
    color: #6e6e70;
}


.back-button{
    width: 40px;
    height: 40px;
    position: absolute;
    left: 6px;
    top: 4px;
    background-color: transparent;
    font-size: 40px;
    color: white;
    border: transparent;
}

.back-button:focus{
    border: transparent;
}