<div class="status-content">
    <div class="container">
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="status approved">
                    <div class="icon">
                        <img src="/assets/images/checkout/document-request.svg" />
                    </div>
                    <div class="status-title">Sua proposta está em análise.</div>
            <div class="status-info status-info--mobile">Aguarde, você receberá uma notificação no e-mail
                cadastrado.<br />Você pode
                acompanhar o status de sua contratação também pela área do cliente, clicando no botão abaixo.
            </div>
                    <div class="status-buttons">
                        <a (click)="openProposal(contentProposal)"
                            class="button-secundary buttontextpink left-button">Proposta completa</a>
                        <a [routerLink]="['/checkout/status']"
                            class="button-secundary buttontextpink right-button">Status do pedido</a>
                    </div>
                </div>
                <ng-template id="modal-proposal" #contentProposal let-modal>
                    <div class="modal-header">
                        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 coluna-carro">
                                    <div class="seu-carro">Seu carro é o</div>
                                    <div class="nome-carro desktophighlightdark-grey mobilehighlightdark-grey">Captur
                                        Intense</div>
                                    <div class="nome-versao tittledark-grey">1.6 CVT X-Tronic</div>
                                    <div class="foto-carro hidden-md-up">
                                        <img src="/assets/images/captur.png" />
                                    </div>
                                    <ul>
                                        <li class="textdark-grey">
                                            Sensores de chuva e luminosidade
                                        </li>
                                        <li class="textdark-grey">
                                            Media Nav Evolution
                                        </li>
                                        <li class="textdark-grey">
                                            Chave-cartão Handsfree Walk Away Closing
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-6 coluna-itens-aluguel">
                                    <div class="tittledark-grey">
                                        Sua assinatura já contempla:
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="titulo-item">Seguro Anual - Cobertura completa</div>
                                            <span class="textdark-grey">O seguro está incluso na sua assinatura, não se
                                                preocupe com isso.
                                                <a (click)="open(content)">Acesse todas as coberturas do seu
                                                    seguro.</a></span>
                                        </li>
                                        <li>
                                            <div class="titulo-item">Revisão e manutenções</div>
                                            <span class="textdark-grey">A revisão do veículo está inclusa, não se
                                                preocupe com isso.</span>
                                        </li>
                                        <li>
                                            <div class="titulo-item">Pneus</div>
                                            <span class="textdark-grey">A troca de pneus do veículo está inclusa na sua
                                                assinatura, não se
                                                preocupe com isso.</span>
                                        </li>
                                        <li>
                                            <div class="titulo-item">Impostos e documentação</div>
                                            <span class="textdark-grey">Os impostos e documentações estão inclusos na
                                                sua assinatura, não se
                                                preocupe com isso.</span>
                                        </li>
                                    </ul>
                                    <div class="forma-pagamento hidden-sm-down">
                                        <div class="garantia">Depósito de garantia:
                                            {{simulationPrice?.guaranteeDeposit  | currency:'BRL':true }}</div>
                                        <div class="parcelamento">
                                            <span class="parcelas">+{{simulationPrice?.numberOfInstallments }}x
                                                de</span>
                                            {{simulationPrice?.installmentAmount  | currency:'BRL':true }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div> -->
    </div>
</div>