<div class="page-404">
  <div class="page-404__col-1">
    <h2 class="page-404__titulo">Seja bem-vindo à Loopster!</h2>
    <p>Caro colaborador para acessar a Loopster você precisa preencher o campo abaixo com seu cpf para
      acessar o site.</p>

    <div class="personalForm">
      <form class="floating-form" [formGroup]="form" name="boletoForm">
        <!-- <div class="floating-label">
            <input class="floating-input" name="registration" type="text" formControlName="registration"
                placeholder=" ">
            <label>Matrícula</label>
            <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('registration')">Matricula
                inválida</span>
        </div> -->

        <div class="floating-label">
          <input class="floating-input" name="document" type="text" formControlName="document" mask="099.099.099-09"
            placeholder=" ">
          <label>CPF</label>
          <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('document')">CPF inválido</span>
        </div>

        <button type="submit" name="submit" class="button-secundary buttontextpink right-button pay-button"
          (click)="onSubmit()">Entrar</button>
      </form>
    </div>
  </div>

  <!-- <div class="page-404__col-2" style="background-image: url('../../../../../assets/images/kwid.png');"></div> -->
  <div class="page-404__col-2-with-img">
    <img src="../../../../../assets/images/sandero-azul.jpg" alt="" class="page-404__col-2--img">
  </div>
</div>