.checkout-contract{
    margin-top: 100px;
    background-color: #f7f7f7;
    padding: 50px 0;
    @media(max-width:767px){
        padding-bottom: 90px !important;
    }
    @media(max-width:360px){
        padding-bottom: 0px !important;
    }
    h1{
        font-size: 1.875em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.27;
        letter-spacing: -0.83px;
        text-align: center;
        color: #FF7900;
        margin-bottom: 20px;
    }
    .subtitle{
        font-size: 1em;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color:#282832;
        margin-bottom: 30px;
    }
    form{
        @media(max-width:767px){
            border-radius: 15px;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
            background-color: #fff;
            padding: 20px 15px;
            margin-bottom: 40px;
        }
    }
    .form-buttom{
        .buttontextpink{
            margin: 0 auto;
            display: block;
            width: 40%;
            background-color: #FF7900;
            border-color: #FF7900;
            color: #fff !important;
        }
    }
    .floating-input, .floating-select{
        background-color: #00000005;
        margin-bottom: 20px;
    }
    .mobile-button{
        width: 100%;
        position: fixed;
        bottom: 0;
        background: #FF7900;
        border: none;
        border-radius: 0;
        color: #fff !important;
        padding: 20px 0;
        @media(max-width:360px){
            position: relative;
        }
    }
}