<div class="checkout-contract">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <h1>Confirme seus dados:</h1>
                <div class="subtitle hidden-sm-down">
                    Verifique seu os dados abaixo estão corretos para dar continuidade à assinatura do seu contrato.
                </div>
            </div>
            <div class="col-md-6 offset-md-3">
                <app-loading loaderClass="price-loader" *ngIf="!contract"></app-loading>

                <form *ngIf="contract" [formGroup]="form" name="client-data-form" class="floating-form">
                    <div class="floating-label">
                        <input class="floating-input" [attr.disabled]="true" formControlName="driverName"
                            name="driverName" type="text" placeholder=" ">
                        <label>Nome do Condutor</label>
                        <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('driverName')">Nome inválido</span>
                    </div>
                    <div class="floating-label">
                        <input class="floating-input" [attr.disabled]="true" formControlName="email" name="email"
                            type="text" placeholder=" ">
                        <label>E-mail</label>
                        <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('email')">E-mail inválido</span>
                    </div>
                    <div class="floating-label">
                        <input class="floating-input" [attr.disabled]="true" formControlName="document" name="document"
                            type="text" mask="099.099.099-09" placeholder=" ">
                        <label>CPF</label><span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('document')">CPF
                            inválido</span>
                    </div>
                    <div class="floating-label">
                        <input class="floating-input" formControlName="tel" name="tel" mask="(00) 00009-0000"
                            type="text" placeholder=" ">
                        <label>Número de celular</label><span class="obs-campo-erro"
                            *ngIf="verifyInvalidAndTouched('tel')">Celular
                            inválido</span>
                    </div>

                    <div *ngIf="innerWidth > 767" class="floating-label">
                        <div class="form-buttom">
                            <button type="submit" (click)="onSubmit()" name="submit"
                                class="button-secundary buttontextpink">Assinar Contrato</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <button *ngIf="innerWidth < 768" type="submit" (click)="submit()" name="submit"
        class="button-secundary buttontextpink mobile-button">Assinar Contrato</button>
</div>