<div class="register-step">
    <div class="container">
        <div class="row">
            <div class="col-md-5 coluna-titulo">
                <h1 class="desktophighlightdark-grey conclusion-title">{{conclusionStatus}}</h1>
            </div>
            <div class="col-md-4 offset-md-1 coluna-infos-conclusao">
                <div *ngIf="!isWaitingPayment" class="details">
                    <div class="textdark-grey">
                        Parabéns, agora você é um Loopster!<br />
                        Acompanhe a entrega do seu veículo através do e-mail cadastrado.
                    </div>
                    <div class="title">Detalhes da contratação:</div>
                    <div class="card-icon">
                        <img src="/assets/icons/card.svg" />
                    </div>
                    <div class="details-itens">
                        <div class="detail-item">
                            O valor da mensalidade é de
                            {{ contract?.contract?.installmentAmount  | currency:'BRL':true }} e o contrato
                            tem
                            vigência de {{contract?.contract?.numberOfInstallments}} vezes.
                        </div>
                        <div class="detail-item">
                            Pagamento realizado via {{paymentMethod}}. <br /><strong>Data de vencimento:
                                {{dueDay}}</strong>
                        </div>
                    </div>
                    <a class="cta-button button-secundary buttontextpink " [routerLink]="['/dashboard']">Acompanhe seu
                        pedido</a>
                </div>
                <div *ngIf=" isWaitingPayment" class="details">
                    <div class="textdark-grey">
                        Estamos quase lá para você se tornar um Loopster.
                    </div>
                    <div class="title">Detalhes da contratação:</div>
                    <div class="card-icon">
                        <img src="/assets/images/checkout/bars.svg" />
                    </div>
                    <div class="details-itens">
                        <div class="detail-item">
                            Mensalidades: {{contract?.contract?.numberOfInstallments}}x de
                            {{ contract?.contract?.installmentAmount  | currency:'BRL':true }}
                        </div>
                        <div class="detail-item">
                            Pagamento realizado via {{paymentMethod}}. <br /><strong>Data de vencimento:
                                {{dueDay}}</strong>
                        </div>
                    </div>
                    <span class="button-label">Consulte o status da sua entrega.</span>
                    <a class="cta-button button-secundary buttontextpink" [routerLink]="['/dashboard']">Acompanhar
                        entrega</a>
                    <span class="button-label">Acompanhe o status de sua contratação</span>
                    <a class="cta-button button-secundary buttontextpink">Status da solicitação</a>
                </div>
                <!-- <div class="conclusion-cta">
                        <div class="cta-title">
                            Não recebeu o e-mail?
                        </div>
                        <a class="cta-button button-secundary buttontextpink"
                            [ngClass]="resubmittedMail ? 'resubmited-mail' : ''" (click)="resend()"><img
                                *ngIf="resubmittedMail"
                                src="/assets/images/simulador/check-step-white.svg">{{resubmitButtonText}}</a>
                        <div class="cta-title">
                            O e-mail cadastrado não está correto?
                        </div>
                        <a class="cta-button button-secundary buttontextpink" (click)="openDados(contentDados)">Atualizar
                            e-mail</a>
                    </div> -->
            </div>
        </div>
    </div>
</div>