<div class="checkout-contract">
  <!-- <app-loading loaderClass="progress-loader" *ngIf="!hasContract"></app-loading> -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Informaçõs adicionais:</h1>
        <app-loading loaderClass="progress-loader" *ngIf="!hasContract"></app-loading>
      </div>
    </div>
    <div class="row" *ngIf="hasContract">
      <div class="col-md-6">
        <div class="contract-wrapper">
          <div class="contract-title">Serviços inclusos no contrato:</div>
          <div class="contract-item">
            <strong>Manutenção do veículo:</strong> Incluso
          </div>
          <div class="contract-item">
            <strong>Cobertura do plano de manutenção:</strong><br />
            Troca de lubrificantes, troca de filtros (combustível, ar, óleo, habitáculo (versões com AC), anel, correias
            e fluídos), pastilhas de freio, disco de freio, kit embreagem, escape, atuador, lâmpadas, bateria,
            amortecedores e batentes dos amortecedores, pneus (mínimo de 20.000 km de rodagem).
          </div>
        </div>
        <div class="car-photo hidden-sm-down">
          <img src="{{mediaRepository}}{{contract?.model?.featuredPhoto}}" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="contract-wrapper">
          <div class="contract-item">
            <strong>Seguro auto:</strong> Incluso
          </div>
          <div class="contract-item">
            <strong>Seguradora parceira:</strong> Sompo Seguros S/A
          </div>
          <div class="contract-item">
            <strong>CNPJ da seguradora:</strong> 61.383.493/0001-80
          </div>
          <div class="contract-item">
            <strong>Cobertura de danos materiais e corporais:</strong><br /> até R$ 500.000,00 (D. Materiais+corporais)
          </div>
          <div class="contract-item">
            <strong>Coparticipação Sandero Zen 1.0 MT:</strong> R$ 3.257,48<br>
            <strong>Duster Dynamique 1.6 CVT:</strong> R$ 5.305,63<br>
            <strong>Duster Dynamique 2.0 AT:</strong> R$ 5.383,56
          </div>
        </div>
        <div class="contract-buttons">
          <a [routerLink]="['/pagamento/contrato', contract?.contract?.idContract]"
            class="button-secundary buttontextpink left-button back-button">Voltar</a>
          <a (click)="openProposal(contentContract)" class="button-secundary buttontextpink right-button">Ler condições
            completas</a>
        </div>
      </div>
      <ng-template id="modal-contract" #contentContract let-modal>
        <div class="modal-header">
          <h1>Contrato:</h1>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body coverage-modal">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <div class="contract-modal">
                  <perfect-scrollbar style="max-height: 400px;">
                  </perfect-scrollbar>
                  <pdf-viewer [src]="contractContent" [render-text]="true" [autoresize]="true" [original-size]="false"
                    style="display: block;">
                  </pdf-viewer>

                </div>
                <div class="contract-download">
                  <a href="{{contractContent}}" target="_blank" class="button-secundary buttontextpink">
                    Download do contrato
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
