.checkout-contract{
    margin-top: 100px;
    background-color: #fff !important;
    padding: 50px 0;
    h1{
        font-size: 1.875em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.27;
        letter-spacing: -0.83px;
        color: #282832;
        margin-bottom: 40px;
        @media(max-width:767px){
            font-size: 34px;
            margin-bottom: 20px;
        }
    }
    .contract-wrapper{
        margin-bottom: 25px;
        .contract-title{
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #FF7900;
            margin-bottom: 20px;
        }
        .contract-item{
            font-size: 16px;
            font-weight: 300;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #282832;
            margin-bottom: 15px;
            strong{
                font-weight: 600;
            }
        }
    }
    img{
        max-width: 100%;
    }
    .contract-buttons{
        .back-button{
            border-radius: 20px;
            border: solid 2px #adadad;
            font-size: 12px;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #adadad !important;
            background-color: #fff;
            padding: 10px 37px;
            margin-right: 5%;
            @media(max-width:767px){
                display: none;
            }
            &:hover{
                border-color:#282832;
                color: #282832 !important;
            }
          }
          a{
              @media(max-width:767px){
                  width: 100%;
              }
          }
    }
}

.contract-download{
    .button-secundary{
        @media(max-width: 767px){
            width: 100% !important;
        }
    }
}
