.checkout-contract{
    margin-top: 100px;
    background-color: #f7f7f7;
    padding: 80px 0;
    @media(max-width:767px){
        min-height: calc(100vh - 100px);
        padding: 60px 0;
        padding-bottom: 40px;
    }
    h1{
        font-size: 1.875em;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.27;
        letter-spacing: -0.83px;
        text-align: center;
        color: #FF7900;
        margin-bottom: 20px;
        @media(max-width:767px){
            text-align: left;
        }
    }
    .subtitle{
        font-size: 1em;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color:#282832;
        margin-bottom: 40px;
        @media(max-width:767px){
            text-align: left;
        }
    }
    .form-buttom{
        .buttontextpink{
            margin: 0 auto;
            display: block;
            width: 40%;
            background-color: #FF7900;
            border-color: #FF7900;
            color: #fff !important;
        }
    }
    .payment-options{
        .payment-status-label{
            position: relative;
            display: block;
            width: 43%;
            margin: 0 auto;
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #FF7900;
        }
        a.payment-item{
        border-radius: 10px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1);
        background-color: #fff;
        position: relative;
        display: block;
        width: 330px;
        margin-bottom: 15px;
        padding: 18px 30px;
        font-size: 16px;
        font-weight: 600;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        color: #282832;
        cursor: pointer;
        transition: all 100ms ease-in;
        background-image: url('/assets/images/register/button-arrow.svg');
        background-repeat: no-repeat;
        background-position: 90% center;
        margin: 20px auto;
        @media(max-width:767px){
          width: 100%;
          background-color: transparent;
          box-shadow: none;
          border-bottom: 1px solid #282832;
          border-radius: 0;
          padding: 18px 20px;
          margin-bottom: 0;
          margin-top: 0;
          &:first-of-type{
            border-top:1px solid #282832;
          }
        }
        &:hover,
        &.active{
            background-image: url('/assets/images/register/button-arrow-white.svg');
            background-color: #FF7900;
            color:#fff;
            @media(max-width:767px){
              color: #282832;
              background-color: #fff;
            }
        }
        &.active{
            background-image: url('/assets/images/simulador/check-step-white.svg');
            @media(max-width:767px){
              background-image: url('/assets/images/simulador/check-step.svg');
            }
        }
        &.inactive{
            background-image: url('/assets/images/register/button-arrow-grey.svg');
            color: #28283273;
            cursor: none;
        }
    }
    }
    .payment-form{
        width: 70%;
        margin: 0 auto;
        @media(max-width:767px){
            width: 100%;
        }
        .floating-input, .floating-select{
            background-color: #00000005;
        }
        .half-input{
            width: 48%;
            display: inline-block;
            margin-right: 4%;
            &.last-half{
                margin-right: 0;
            }
            @media(max-width:767px){
               width: 100%;
            }
        }
        .card-brand{
            position: absolute;
            right: 0;
            top: 0;
        }
    }
    .payment-header{
        position: relative;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
        @media(max-width:767px){
            width: 100%;
        }
        .payment-button{
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color:#cfcece;
            border-bottom: 1px solid #282832;
            position: relative;
            display: inline-table;
            width: 50%;
            padding: 15px;
            cursor: pointer;
            &.active{
                color: #282832;
                border-bottom: 5px solid #FF7900;
                padding-bottom: 13px;
            }
            &.inactive{
                color: #282832;
            }
        }
    }
    .boleto-infos{
        .boleto-form{
            width: 50%;
            position: relative;
            display: inline-block;
            top: -8px;
        }
        width: 70%;
        margin: 0 auto;
        @media(max-width:767px){
            width: 100%;
        }
        .price{
            font-size: 16px;
            font-weight: 600;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #282832;
            margin-bottom: 30px;
            position: relative;
            display: block;
            strong{
                font-weight: 600;
            }
            &.monthly-price{
                font-weight: 300;
                width: 50%;
                display: inline-block;
                line-height: 2;
                strong{
                    font-weight: 600;
                }
                @media(max-width:767px){
                    width: 100%;
                }
            }
        }
        .recurrent{
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: #282832;
            margin-bottom: 25px;
        }
        ul{
            padding-left: 0;
            margin-left: 0;
            margin-bottom: 20px;
            @media (min-width:998px) and (max-height:768px){
                margin-bottom: 30px;
            }
            li{ 
                font-size: 13px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #282832;            
                background: url('/assets/images/simulador/check-step.svg') no-repeat left 1px;
                padding: 0px 0px 7px 37px;
                list-style: none;
                margin: 0;
                margin-bottom: 25px;
                @media (min-width:998px) and (max-height:768px){
                    margin-bottom: 15px;
                }
            }
        }
    }
    .same-payment-choice{
        position: relative;
        margin: 0 auto;
        align-content: center;
        align-items: center;
        display: table;
        @media(max-width:767px){
            margin: 0;
        }
        .payment-radio{
            position: relative;
            display: inline-table;
            margin-right: 30px;
            &:nth-child(2){
                margin-right: 0 !important;
            }
            input{
                display: block;
                position: relative;
                width: 24px;
                height: 24px;
                box-sizing: unset;
                border: none;
                -webkit-appearance: none;
                cursor: pointer;
                border: none;
                border-radius: 100%;
                display: inline-block;
                @media(max-width:767px){
                    width: 39px;
                    height: 39px;
                }
                &:after{
                    content: "";
                    position: absolute;
                    width: 24px;
                    height: 24px;
                    -o-object-fit: contain;
                    object-fit: contain;
                    background-color: transparent;
                    border:1px solid #FF7900;
                    border-radius: 100%;
                    top: 0;
                    left: 0;
                    @media(max-width:767px){
                        width: 39px;
                        height: 39px;
                    }
                }
                &:checked{
                    &:after{
                        content: '';
                        position: absolute;
                        width: 24px;
                        height: 24px;
                        background-image: url('/assets/images/simulador/check-white.svg');
                        background-size: 18px;
                        background-repeat: no-repeat;
                        background-position: center center;
                        object-fit: contain;
                        background-color: #FF7900;
                        border-radius: 100%;
                        top: 0;
                        left: 0;
                        @media(max-width:767px){
                            width: 39px;
                            height: 39px;
                        }
                    }
                }
            }
            label{
                position: relative;
                left: auto;
                top: -5px;
                margin-left: 5px;
                margin-right: 20px;
                font-size: 16px;
                font-weight: 300;
                font-stretch: normal;
                font-style: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #282832;
                &:last-of-type{
                    margin-right: 0;
                }
                @media(max-width:767px){
                    top:-16px;
                    margin-left: 10px;
                }
            }
        }
    }

    .custom-finalization-button {
        margin: 30px auto 0;
        display: block;
        max-width: 250px;
        position: relative;
    }

    .status{
        text-align: center;
        @media(max-width:767px){
            min-height: 66vh;
        }
        .approved-payment{
            background-color: #FF7900;
            border: none;
            color: #fff !important;
        }
        .icon{
            width: 79px;
            height: 79px;
            background-color:#FF7900;
            border-radius: 100%;
            display: flex;
            margin: 0 auto;
            margin-bottom: 20px;
            img{
                position: relative;
                display: block;
                width: 50%;
                margin: 0 auto;
            }
        }
        .status-title{
            font-size: 1.875em;
            font-weight: bold;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.27;
            letter-spacing: -0.83px;
            text-align: center;
            color: #FF7900;
            margin-bottom: 20px;
        }
        .status-info{
            font-size: 1em;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #282832;
            @media(min-width:768px){
                width: 40%;
                margin: 0 auto;
            }
        }
        .status-buttons {
            display: inline-block;
            overflow: auto;
            white-space: nowrap;
            margin: 0px auto;
            width: 25em;
            padding: 30px 0 0 0;
            @media(max-width:767px){
                display: inline-block;
                overflow: auto;
                white-space: nowrap;
                margin: 0px auto;
                width: 100%;
                padding: 25px 0 0 0;
            }
            .left-button {
                float: left;
                width: 180px;
                @media(max-width:767px){
                    position: fixed;
                    bottom: 100px;
                    width: 80% !important;
                    margin: 0 auto;
                    left: 10%;
                    border-radius: 20px;
                }
            }
            .right-button {
                float: right;
                width: 180px;
                background-color: #FF7900;
                color: #fff !important;
                border-color: #FF7900;
                @media (max-width:767px){
                    position: fixed;
                    bottom: 0;
                    left: 0;
                    border-radius: 0;
                    padding: 22px 34px;
                }
            }
            button, a{
                @media(max-width:767px){
                    width: 100% !important;
                    position: fixed;
                    bottom: 0;
                    width: 100vw !important;
                    left: 0;
                    display: block;
                    border-radius: 0;
                    padding: 20px 0;
                  }
            }
        }
        &.received-docs{
            a{
                color:#fff !important;
                background-color: #FF7900;
                border-color: #FF7900;
            }
        }
    }

    .status-mobile__div1 {
        @media (max-width: 767.98px) {
            display: flex;
            align-items: center;   
            
            .icon {
                min-width: 79px;
                margin-right: 25px !important;
            }
    
            .status-title {
                text-align: left !important;
            }
        }
    }
    
    .status-info--mobile {
        @media (max-width: 767.98px) {
            text-align: left !important;
        }
    }
    
    .status-buttons {
        .button-secundary {
            @media (max-width: 767.98px) {
                padding: 10px 0 !important;
            }
        }
    }
    
}