<div class="checkout-contract">
  <div class="container">
    <div *ngIf="showPaymentStatus">
      <div *ngIf="!paymentApproved" class="status approved">
        <div class="status-mobile__div1">
          <div class="icon">
            <img src="/assets/images/checkout/exclamation.svg" />
          </div>
          <div class="status-title">Seu pagamento foi reprovado.</div>
        </div>
        <div class="status-info status-info--mobile">Não foi possível validar o seu pagamento. Por favor, revise
          seus dados ou selecione outra forma de pagamento.
        </div>
        <a class="button-secundary buttontextpink custom-finalization-button"
          (click)="showPaymentStatus = false">Atualizar forma de pagamento</a>
      </div>

      <div *ngIf="paymentApproved" class="status reproved">
        <div class="status-mobile__div1">
          <div class="icon">
            <img src="/assets/images/checkout/approved.svg" />
          </div>
          <div *ngIf="!isCreditCard" class="status-title">Estamos aguardando seu pagamento</div>
          <div *ngIf="isCreditCard" class="status-title">Seu pagamento foi aprovado</div>

        </div>
        <div *ngIf="!isCreditCard" class="status-info status-info--mobile">Seu boleto está sendo gerado e será enviado
          ao e-mail cadastrado.</div>
        <div *ngIf="isCreditCard" class="status-info status-info--mobile">Recebemos a confirmação do seu
          pagamento para a
          garantia de
          contrato.</div>
        <a class="button-secundary buttontextpink custom-finalization-button approved-payment"
          (click)="showPaymentStatus = false">Continuar</a>
      </div>
    </div>
    <div *ngIf="!showPaymentStatus">
      <div *ngIf="paymentSelection" class="row">
        <div class="col-md-8 offset-md-2">
          <h1>Escolha a forma de pagamento</h1>
          <div class="subtitle" [innerHTML]="labelCardDescription"></div>
          <div class="payment-options">
            <a [ngClass]="guaranteeDepositDone ? 'active' : ''" class="payment-item"
              [attr.disabled]="guaranteeDepositDone" (click)="payGuaranteeDeposit()">Garantia de contrato</a>
            <span *ngIf="guaranteeDepositDone" class="payment-status-label">Forma de Pagamento Registrada!</span>
            <a [ngClass]="!guaranteeDepositDone ? 'inactive' : (guaranteeDepositDone && monthlyPaymentDone ? 'active' :  '')"
              class="payment-item" (click)="!guaranteeDepositDone ? '' : payPlots()">Mensalidade</a>
            <span *ngIf="monthlyPaymentDone" class="payment-status-label">Forma de Pagamento Registrada!</span>
          </div>
          <a *ngIf="monthlyPaymentDone && guaranteeDepositDone"
            class="button-secundary buttontextpink custom-finalization-button" (click)="submitPayments()">Finalizar
            contratação</a>
        </div>
      </div>
      <div *ngIf="guaranteeDeposit" class="row">
        <div class="col-md-8 offset-md-2">
          <h1>Garantia de contrato</h1>
          <div class="subtitle" *ngIf="contract">
            O valor do garantia de contrato é {{contract.contract.guaranteeDeposit  | currency:'BRL':true  }}. Selecione
            a
            forma
            de
            pagamento que deseja.
          </div>
          <div class="payment-header">
            <div class="payment-button" [ngClass]="isCreditCard ? 'active' : ''" (click)="paymentMethodChange()">Cartão
              de crédito</div>
            <div class="payment-button" [ngClass]="!isCreditCard ? 'active' : ''" (click)="paymentMethodChange()">Boleto
              Bancário</div>
          </div>
          <form *ngIf="isCreditCard" [formGroup]="form" name="payment-form" class="floating-form payment-form">
            <div class="floating-label">
              <input class="floating-input" name="creditCardNumber" (keydown)="getCardBrand($event)"
                mask="0009.0009.0009.0009" formControlName="creditCardNumber" type="text" placeholder=" ">
              <label>Número do Cartão</label>
              <div class="card-brand">{{cardBrand}}</div>
              <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('creditCardNumber')">Cartão
                inválido</span>
            </div>
            <div class="floating-label">
              <input class="floating-input" name="creditCardName" formControlName="creditCardName" type="text"
                placeholder=" ">
              <label>Nome impresso no cartão</label>
              <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('creditCardName')">Nome
                inválido</span>
            </div>
            <div class="floating-label half-input">
              <input class="floating-input" mask="09/09" name="creditCardDate" formControlName="creditCardDate"
                type="text" placeholder=" ">
              <label>Validade</label>
              <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('creditCardDate')">Validade
                inválido</span>
            </div>
            <div class="floating-label  floating-tooltip half-input last-half">
              <input class="floating-input" name="creditCardCCV" formControlName="creditCardCCV" type="text"
                placeholder=" ">
              <label>Código de Segurança</label>
              <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('creditCardCCV')">CCV
                inválido</span>
              <span (click)="toggleHelper()" class="form-info">?</span>
              <div class="info-box" [ngClass]="infoOpen ? '' : 'hidden-info' ">
                <div (click)="toggleHelper()" class="close-details-info"></div>
                <img src="/assets/images/checkout/cvv.png" />
              </div>
            </div>
            <div class="payment-actions">
              <a (click)="backPaymentSelection()"
                class="button-secundary left-button back-button hidden-md-down">Voltar</a>
              <button type="submit" name="submit" (click)="onSubmit()"
                class="button-secundary buttontextpink right-button pay-button">Realizar
                pagamento</button>
            </div>
          </form>
          <div class="boleto-infos" *ngIf="!isCreditCard">
            <div class="price">
              Valor da garantia: {{contract.contract.guaranteeDeposit  | currency:'BRL':true }}
            </div>
            <ul>
              <li>Você pode pagar o boleto em qualquer banco até a data de vencimento.</li>
              <li>A confirmação do pagamento é realizada em até 2 (dois) dias úteis após o pagamento.</li>
              <li>Caso o boleto não seja pago até a data de vencimento, seu pedido será cancelado
                automaticamente.</li>
            </ul>
            <div class="payment-actions">
              <a (click)="backPaymentSelection()"
                class="button-secundary left-button back-button hidden-md-down">Voltar</a>
              <button type="submit" name="submit" (click)="submitBillet()"
                class="button-secundary buttontextpink right-button pay-button">Gerar boleto</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="monthlyPayment" class="row">
        <div class="col-md-8 offset-md-2">
          <h1>Mensalidade</h1>
          <div class="subtitle">
            O valor mensal é {{ contract.contract.installmentAmount  | currency:'BRL':true }} e a vigência do contrato
            tem
            {{contract.contract.numberOfInstallments}}
            meses.<br />
            Escolha a forma de pagamento.<br /><br />

            Escolher mesma forma de pagamento do Garantia de contrato?
          </div>
          <div class="same-payment-choice">
            <form [formGroup]="paymentMethodForm">
              <div class="floating-label payment-radio">
                <input type="radio" name="samePayment" (change)="changePaymentMethod()" formControlName="samePayment"
                  value="true">
                <label>Sim</label>
              </div>
              <div class="floating-label payment-radio">
                <input type="radio" name="samePayment" (change)="changePaymentMethod()" formControlName="samePayment"
                  value="false" [checked]="true">
                <label>Não</label>
              </div>
            </form>
          </div>
          <div *ngIf="!samePaymentMethod">
            <div class="payment-header">
              <div class="payment-button" [ngClass]="isCreditCardMonthly ? 'active' : ''"
                (click)="paymentMethodChangeMonthly()">Cartão de crédito</div>
              <div class="payment-button" [ngClass]="!isCreditCardMonthly ? 'active' : ''"
                (click)="paymentMethodChangeMonthly()">Boleto Bancário</div>
            </div>
            <form *ngIf="isCreditCardMonthly" [formGroup]="formAnotherPaymentMethod" name="payment-form"
              class="floating-form payment-form">
              <div class="floating-label">
                <input class="floating-input" name="creditCardNumber" (keydown)="getCardBrand($event)"
                  mask="0009.0009.0009.0009" formControlName="creditCardNumber" type="text" placeholder=" ">
                <label>Número do Cartão</label>
                <div class="card-brand">{{cardBrand}}</div>
                <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('creditCardNumber')">Cartão
                  inválido</span>
              </div>
              <div class="floating-label">
                <input class="floating-input" name="creditCardName" formControlName="creditCardName" type="text"
                  placeholder=" ">
                <label>Nome impresso no cartão</label>
                <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('creditCardName')">Nome
                  inválido</span>
              </div>
              <div class="floating-label half-input">
                <input class="floating-input" mask="09/09" name="creditCardDate" formControlName="creditCardDate"
                  type="text" placeholder=" ">
                <label>Validade</label>
                <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('creditCardDate')">Validade
                  inválido</span>
              </div>
              <div class="floating-label  floating-tooltip half-input last-half">
                <input class="floating-input" name="creditCardCCV" formControlName="creditCardCCV" type="text"
                  placeholder=" ">
                <label>Código de Segurança</label>
                <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('creditCardCCV')">CCV
                  inválido</span>
                <span (click)="toggleHelper()" class="form-info">?</span>
                <div class="info-box" [ngClass]="infoOpen ? '' : 'hidden-info' ">
                  <div (click)="toggleHelper()" class="close-details-info"></div>
                  <img src="/assets/images/checkout/cvv.png" />
                </div>
              </div>
              <div class="floating-label select-label half-input">
                <select class="floating-select" formControlName="paymentDate" name="paymentDate"
                  placeholder="Data de vencimento">
                  <option value=""></option>
                  <option *ngFor="let opt of paymentDates" [value]="opt.key">{{opt.value}}</option>
                </select>
                <label>Data de Vencimento</label>
                <!-- <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('paymentDate')">Selecione uma região</span> -->
              </div>
              <div class="payment-actions">
                <a (click)="backPaymentSelection()"
                  class="button-secundary left-button back-button hidden-md-down">Voltar</a>
                <button type="button" (click)="submitMonthlyPaymentCC()"
                  class="button-secundary buttontextpink right-button pay-button">Realizar
                  pagamento</button>
              </div>
            </form>
            <div class="boleto-infos" *ngIf="!isCreditCardMonthly">
              <div class="price monthly-price">
                Quantidade de mensalidades:
                <strong>{{contract.contract.numberOfInstallments}}</strong><br />
                Valor da mensalidade: <strong>{{contract.contract.installmentAmount  | currency:'BRL':true }}</strong>
              </div>
              <form [formGroup]="boletoForm" name="boletoForm" class="floating-form boleto-form">
                <div class="floating-label select-label">
                  <select class="floating-select" formControlName="paymentDate" name="paymentDate"
                    placeholder="Data de vencimento">
                    <option value=""></option>
                    <option *ngFor="let opt of paymentDates" [value]="opt.key">{{opt.value}}
                    </option>
                  </select>
                  <label>Data de Vencimento</label>
                  <!-- <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('regiao')">Selecione uma região</span> -->
                </div>
              </form>
              <div class="recurrent">
                Pagamento com boleto bancário recorrente. Você irá receber o boleto referente a cada
                mensalidade no e-mail cadastrado, e também poderá visualizar através da àrea do cliente.
              </div>
              <ul>
                <li>Você pode pagar o boleto em qualquer banco até a data de vencimento.</li>
                <li>A confirmação do pagamento é realizada em até 2 (dois) dias úteis após o pagamento.
                </li>
                <li>Caso o boleto não seja pago até a data de vencimento, seu pedido será cancelado
                  automaticamente.</li>
              </ul>
              <div class="payment-actions">
                <a (click)="backPaymentSelection()"
                  class="button-secundary left-button back-button hidden-md-down">Voltar</a>
                <button type="submit" name="submit" (click)="submitMonthlyPaymentBillet()"
                  class="button-secundary buttontextpink right-button pay-button">Gerar
                  boleto</button>
              </div>
            </div>
          </div>
          <div *ngIf="samePaymentMethod" class="payment-actions" style="width: 70%;margin: 0 auto;display: block;">
            <form [formGroup]="samePaymentForm" name="samePaymentForm" class="floating-form boleto-form">
              <div class="floating-label select-label">
                <select class="floating-select" formControlName="paymentDate" name="paymentDate"
                  placeholder="Data de vencimento">
                  <option value=""></option>
                  <option *ngFor="let opt of paymentDates" [value]="opt.key">{{opt.value}}
                  </option>
                </select>
                <label>Data de Vencimento</label>
              </div>
            </form>
            <a (click)="backPaymentSelection()"
              class="button-secundary left-button back-button hidden-md-down">Voltar</a>
            <button type="submit" name="submit" (click)="submitMonthlyPaymentCC()"
              class="button-secundary buttontextpink right-button pay-button">Confirmar</button>
          </div>
        </div>
      </div>
    </div>
  </div>