<div class="page-content page-contato" [ngStyle]="bgBloco">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h2 class="desktophighlightdark-grey mobilehighlightdark-grey" [ngStyle]="{'color': corTitulo}">{{titulo}}
        </h2>
        <div class="textdark-grey" [ngStyle]="{'color': corSubTitulo}">{{subTitulo}}</div>
      </div>
      <div class="col-lg-6 offset-lg-1">
        <form #contactForm id="contact-form" class="floating-form">
          <div *ngFor="let itemForm of camposForm" class="floating-label"
            [ngClass]="itemForm.tipo_de_campo == 'select' ? 'select-label': ''">
            <input *ngIf="itemForm.tipo_de_campo == 'text'" class="floating-input" type="text" placeholder=" ">
            <select *ngIf="itemForm.tipo_de_campo == 'select'" class="floating-select floating-input"
              onclick="this.setAttribute('value', this.value);" value="">
              <option value=""></option>
              <option *ngFor="let itemSelect of itemForm.opcoes" value={{itemSelect.opcao}}>{{itemSelect.opcao}}</option>
            </select>
            <textarea *ngIf="itemForm.tipo_de_campo == 'textarea'" class="floating-input floating-textarea"
              placeholder=" "></textarea>
            <label *ngIf="itemForm.tipo_de_campo !== 'submit'">{{itemForm.valor_padrao}}</label>
            <span *ngIf="itemForm.observacao_campo" class="obs-campo">{{itemForm.observacao_campo}}</span>
            <div *ngIf="itemForm.tipo_de_campo == 'submit'" class="form-buttom">
              <button type="button" class="button-secundary buttontextpink"
                (click)="submit()">{{itemForm.valor_padrao}}</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
