<p fundoAmarelo>
  Texto com fundo amarelo. 
</p>

<p highlightMouse>
  Texto com highlight quando passa o mouse.
</p>

<!-- <p highlight [dafaultColor]="'grey'" [highlightColor]="'red'">
  Texto com highlight com cores customizadas.
</p> -->

<p [highlight]="'red'" [dafaultColor]="'grey'">
  Texto com highlight com cores customizadas.
</p>

<div *ngIf="mostrarCursos">
  Lista de cursos.
</div>

<div *ngElse="mostrarCursos">
  Não existem cursos para serem listados.
</div>

<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>