<div id="{{idBloco}}" [ngStyle]="{'background-color': bgBloco, 'background-image': innerWidth > 767 ? 'url(' + mediaRepository + bgDesktop + ')' : 'url(' + mediaRepository + bgMobile + ')'}">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-6">
                    <h1 class="desktophighlightdark-grey mobilehighlightdark-grey" [ngStyle]="{'color': corTitulo}">{{titulo}}</h1>
                    <div class="desktopsubtittlepink mobilesubtittlepink" [ngStyle]="{'color': corSubTitulo}">{{subTitulo}}</div>
                    <span class="textdark-grey" [ngStyle]="{'color': corDescricao}">{{descricao}}</span>
                    <!-- <div *ngIf="hasCTA" class="play-home" (click)="toggleVideo($event)">
                        <img src="assets/images/play.svg" />
                        <span class="textdark-grey">{{textoCTA}}</span>
                    </div> -->
                </div>
            </div>
        </div>
        <div id="video-home" class="{{ videoVisibility }}">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <a class="button-secundary buttontextpink fechar-video" (click)="toggleVideo($event)">
                            Fechar Vídeo
                        </a>
                    </div>
                </div>
            </div>
            <!-- <iframe width="560" height="315" [src]='sanitizer.bypassSecurityTrustResourceUrl(videoCTA)' frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe> -->
        </div>
</div>