<div class="price-calculator">
    <div class=" container">
        <div class="row">
            <div class="col-md-2">
                <div class="result-label">Resultado da simulação:</div>
            </div>
            <div class="col-12 col-md-2">
                <div class="titulo-preco">Garantia de contrato</div>
                <div class="preco" *ngIf="priceChanging">
                    <app-loading loaderClass="price-loader" *ngIf="priceChanging"></app-loading>
                </div>
                <div class="preco" *ngIf="!priceChanging"> {{simulationPrice.guaranteeDeposit  | currency:'BRL':true }}
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div>
                    <div class="titulo-preco">Prazo Contratado</div>
                    <div class="preco" *ngIf="priceChanging">
                        <app-loading loaderClass="price-loader" *ngIf="priceChanging"></app-loading>
                    </div>
                    <div class="preco" *ngIf="!priceChanging">
                        {{simulationPrice.numberOfInstallments }} meses
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-2">
                <div class="titulo-preco hidden-sm-down">Valor mensal</div>
                <div class="titulo-preco hidden-md-up">Valor mensal</div>
                <div class="preco" *ngIf="priceChanging">
                    <app-loading loaderClass="price-loader" *ngIf="priceChanging"></app-loading>
                </div>
                <div class="preco" *ngIf="!priceChanging">
                    <span class="parcelas"></span>{{simulationPrice.installmentAmount  | currency:'BRL':true }}
                </div>
            </div>
            <div class="col-md-2 offset-md-1">
                <a (click)="nextStep()" class="button-secundary buttontextpink">
                    Continuar
                </a>
            </div>
        </div>
    </div>
</div>