.register-step{
    background: #f7f7f7;
    padding: 100px 0;
    margin-top: 100px;
    min-height: 66vh;
    @media(max-width:767px){
        background: #fff;
        margin-top: 130px;
        padding: 10px 0 50px 0;
    }
    h1.register-title{
        margin-bottom: 25px;
        @media(max-width:767px){
            margin-bottom: 20px;
            font-size: 34px;
        }
    }
    span.register-subtitle{
        width: 90%;
        display: block;
        @media(max-width:767px){
            width: 100%;
            margin-bottom: 20px;    
        }
    }
    .form-box{
        @media(min-width:768px){
            border-radius: 15px;
            box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
            background-color: #fff;
            padding: 30px;
        }
    }

    .form-info{
        position: absolute;
        top: 20px;
        right: 23px;
        width: 22.8px;
        height: 22.8px;
        background: transparent;
        text-align: center;
        color: #FF7900;
        line-height: 1.1;
        font-weight: bold;
        border-radius: 100%;
        font-size: 17px;
        border: 2px solid #FF7900;
        padding-left: 2px;
        &:hover{
            border:none;
            color:#fff;
            background: #FF7900;
            line-height: 1.2;
            /*padding-left: 0; */
            &~{ 
                @media(min-width:768px){
                    .info-box{
                        display: block;
                    }
                }
            }
        }
    }
    .info-box{
        display:none;
        position: absolute;
        right: 0;
        bottom: 0;
        margin-bottom: 65px;
        background: #fff;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
        &:before{
            content: "";
            position: absolute;
            bottom: -6px;
            width: 16px;
            height: 16px;
            background: white;
            right: 27px;
            transform: rotate(45deg);
            box-shadow: 1px 2px 2px #00000014;
        }
        img{
            width: 100%;
        }
        &.right-box{
            margin-right: -51%;
            margin-bottom: -220px;
            &:before{
                right: auto;
                left: 0;
                bottom: auto;
                top: 0;
                left: -9px;
                margin-top: 62px;
                box-shadow: -2px 2px 3px #0000001f;
            }
        }
        &.left-box{
            margin-bottom: -237px;
            z-index: 999;
            right: 64px;
            @media(max-width:767px){
                margin-bottom: 0;
                img{
                    width: 80%;
                    margin: 0 auto;
                    display: block;
                }
            }
            &:before{
                left: auto;
                bottom: auto;
                top: 0;
                right: -9px;
                margin-top: 62px;
                box-shadow: 0px -1px 3px #0000001f;
            }
        }
        @media(max-width:767px){
            position: fixed;
            left: 0;
            bottom: 0;
            background: #fff;
            width: 100%;
            z-index: 9999;
            display: block;
            margin-bottom: 0;
            border-radius: 20px 20px 0 0;
            padding: 20px 15px 30px 15px;
            -webkit-transition: opacity .8s cubic-bezier(.075,.82,.165,1),margin .8s cubic-bezier(.075,.82,.165,1),height .5s cubic-bezier(.075,.82,.165,1),-webkit-transform .5s cubic-bezier(.075,.82,.165,1);
            transition: opacity .8s cubic-bezier(.075,.82,.165,1),margin .8s cubic-bezier(.075,.82,.165,1),height .5s cubic-bezier(.075,.82,.165,1),-webkit-transform .5s cubic-bezier(.075,.82,.165,1);
            transition: opacity .8s cubic-bezier(.075,.82,.165,1),margin .8s cubic-bezier(.075,.82,.165,1),height .5s cubic-bezier(.075,.82,.165,1),transform .5s cubic-bezier(.075,.82,.165,1);
            transition: opacity .8s cubic-bezier(.075,.82,.165,1),margin .8s cubic-bezier(.075,.82,.165,1),height .5s cubic-bezier(.075,.82,.165,1),transform .5s cubic-bezier(.075,.82,.165,1),-webkit-transform .5s cubic-bezier(.075,.82,.165,1);
            max-height: 100%;
            right: auto;
            .close-details-info{
                position: relative;
                display: block;
                margin: 0 auto;
                left: 0;
                width: 60px;
                height: 2px;
                border-radius: 1.5px;
                background-color: #d8d8d8;
                margin-bottom: 40px;
            }
        }
        &.hidden-info{
            @media(max-width:767px){
                transform: translateY(200%);
                max-height: none;
                transition: all 200ms ease-in-out;
            }
            
        }
    }
}


@media(max-width:767px){
    .fundo{
        position: fixed;
        top: 0;
        left: 0;
        display: block;
        width: 100%;
        height: 100%;
        background: #000;
        opacity: 0.3;
        z-index: 5;
        transition: opacity 2ms ease; 
        &.fundo-hidden{
            display: none;  
            opacity: 0;
            left: -100vw;
        }
    }
}