<div id="footer" [ngClass]="!footerVisibility ? 'hide' : ''">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-10 col-lg-12">
                <h4 class="desktophighlightpink mobilehighlightpink">{{footerContent?.titulo}}</h4>
            </div>
        </div>
        <div class="row">
            <div *ngIf="footerContent?.titulo_bloco_esquerda" class="col-sm-12 col-md-4">
                <div class="desktopsubtittlepink mobilesubtittlepink">{{footerContent?.titulo_bloco_esquerda}}</div>
                <div class="textwhite">
                    {{footerContent?.telefone_bloco_esquerda}}<br />
                    <a href="">{{footerContent?.mail_bloco_esquerda}}</a><br />
                    {{footerContent?.atendimento_bloco_esquerda}}
                </div>
            </div>
            <div *ngIf="footerContent?.titulo_bloco_direita" class="col-sm-12 col-md-4">
                <div class="desktopsubtittlepink mobilesubtittlepink">{{footerContent?.titulo_bloco_direita}}</div>
                <div class="textwhite">
                    {{footerContent?.telefone_bloco_direita}}<br />
                    <a href="">{{footerContent?.mail_bloco_direita}}</a><br />
                    {{footerContent?.atendimento_bloco_direita}}
                </div>
            </div>
        </div>
        <div class="row hidden-md-up">
            <div class="col-12">
                <!-- <div id="social-footer">
                    <ul>
                        <li>
                            <a href="#"><span class="icon-facebook"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="icon-twitter"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="icon-linkedin"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="icon-instagram"></span></a>
                        </li>
                        <li>
                            <a href="#"><span class="icon-youtube"></span></a>
                        </li>
                    </ul>
                </div> -->
            </div>
            <div class="col-12">
                <div class="footer-menu-mobile">
                    <ul>
                        <li class="subtextwhite"><a href="{{mediaRepository}}{{footerContent?.termos_de_uso}}" target="_blank">Termos de uso</a></li>
                        <li class="subtextwhite"><a href="{{mediaRepository}}{{footerContent?.politica_de_privacidade}}" target="_blank">Políticas de Cookies</a></li>
                    </ul>
                    <div class="subtextwhite">© 2019 Loopster. Todos os direitos reservados.</div>
                </div>
            </div>
        </div>
        <div class="row hidden-lg-down">
            <div class="col-1">
                <a (click)="scroll()">
                    <img src="assets/images/arrow-up.svg" alt="Loopster - Ir ao topo" />
                </a>
            </div>
            <div class="col-11">
                <ul>
                    <li class="subtextwhite">© 2019 Loopster</li>
                    <li class="subtextwhite">Todos os direitos reservados</li>
                    <li class="subtextwhite"><a href="{{mediaRepository}}{{footerContent?.termos_de_uso}}" target="_blank">Termos de uso</a></li>
                    <li class="subtextwhite"><a href="{{mediaRepository}}{{footerContent?.politica_de_privacidade}}" target="_blank">Políticas de Cookies</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="mobile-footer-button hidden-md-up">
        <div [routerLink]="['/simulador']" class="simular">
            {{chatText}}
        </div>
        <!-- <div class="chat">
            <a>
                <span class="icon-chat"><span class="path1"></span><span class="path2"></span></span>
            </a>
        </div> -->
    </div>
</div>