<div class="pagamento-unico" id="{{idBloco}}" [ngStyle]="{'background-color': bgBloco}">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <h3 class="desktophighlightpink" [ngStyle]="{'color': corTitulo}">{{titulo}}</h3>
                <span class="textwhite" [ngStyle]="{'color': corDescricao}">{{descricao}}</span>
                <a class="hidden-md-down">
                    <img  src="assets/images/arrow-down-white.svg" alt="Loopster - Próxima seção" />
                </a>
            </div>
        </div>
        <div class="tj">{{textoJuridico}}</div>
    </div>
    <div id="vantagens-carousel">
        <div id="slider-payment" class="slider-payment">
            <div class="payment-slide">
                <ngx-slick-carousel class="carousel slider-for" #slickModal="slick-carousel" [config]="vantagensConfig" (init)="slickInit($event)" (afterChange)="afterChange($event)">
                    <div ngxSlickItem *ngFor="let vantagem of listaVantagens" class="slide">
                        <div class="content-image">
                            <img src="{{mediaRepository}}{{vantagem.acf.icone}}" alt="Mais barato" />
                        </div>
                    </div>
                </ngx-slick-carousel>
                <ngx-slick-carousel class="carousel slider-nav" #slickModal="slick-carousel" [config]="vantagensNavConfig" (init)="slickInit($event)" (afterChange)="afterChange($event)">
                    <div ngxSlickItem *ngFor="let vantagem of listaVantagens" class="slide">
                        <div class="content-infos">
                            <strong>{{vantagem.acf.titulo}}</strong>
                            <p>{{vantagem.acf.texto}}</p>
                        </div>
                    </div>
                </ngx-slick-carousel>
            </div>
        </div>
    </div>
</div>