<div class="page-404">
    <div class="page-404__col-1">
        <h2 class="page-404__titulo">404</h2>
        <p class="desktopsubtittlepink mobilesubtittlepink page-404__p">Ops, a página que você procura não está aqui. =/</p>
        <a [routerLink]="['/home']" href="javascript:void(0)" class="button-secundary buttontextpink page-404__btn">Voltar a home</a>
    </div>

    <!-- <div class="page-404__col-2" style="background-image: url('../../../../../assets/images/kwid.png');"></div> -->
    <div class="page-404__col-2-with-img">
        <img src="../../../../../assets/images/kwid.png" alt="" class="page-404__col-2--img">
    </div>
</div>
