.dashboard-content{
    margin-top: 100px;
    background-color: #f7f7f7;
    padding: 50px 0;
    .desktophighlightdark-grey{
        margin-bottom: 20px;
    }
}

.dashbox{
    border-radius: 15px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    padding: 40px;
    &.loader-dash{
        text-align: center !important;
        img{
            width: 100px !important;
        }
    }
    .order-status {
        @media (max-width: 991.98px) {
            position: relative;
            top: auto;
            transform: translate(0);
            left: 0;
            margin: 10px 0 0;
            display: block;
            width: 82px;
        }
    }

    &.new-order-box {
        @media (max-width: 991.98px) {
            background-image: none;
        }
    }
}

.dashboard-content__mobile {
    @media (max-width: 991.98px) {
        margin-top: 0 !important;
        padding: 0 !important;
        background-color: #fff !important;
    }

    .container {
        @media (max-width: 991.98px) {
            padding: 0;
            margin: 0;
            max-width: 991px;

            .col-md-12, .col-lg-6 {
                padding: 0;
            }
        }
    }

    .container > .row {
        @media (max-width: 991.98px) {
            margin: 0;
        }
    }
}

.personalForm-header__mobile {
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;

    .dashboard-back {
        position: absolute;
        left: 30px;
    }

    .personalForm-header__mobile-p {
        margin: 0;
        font-size: 16px;
        color: #FF7900;
        font-weight: 600;
    }
}