<!-- two-way data binding -->
<section class="two-way-binding container mt-5 mb-5">
  <article>
    <h1>Two-way data binding</h1>

    <div>
      <input type="text" 
        [value]="nome"
        (input)="nome = $event.target.value"
      />

      <input type="text" 
        [ngModel]="nome"
        (ngModelChange)="nome = $event"
      />

      <input type="text" [(ngModel)]="nome">

      <p>Você digitou: {{ nome }}</p>
    </div>

    <div>
      <input type="text" [(ngModel)]="pessoa.nome">
      <input type="text" [(ngModel)]="pessoa.idade">

      <p>Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos</p>
    </div>

  </article>
</section>