.passos-alguel{
    padding: 188px 0;
    position: relative;
    @media (max-width: 767px){
        background-color: #f7f7f7;
        padding: 45px 0;
        border-radius: 0 0 0 60px;
        margin-top: -60px;
        padding-top: 140px;
    }
    .mobilehighlightdark-grey{
        @media (max-width: 768px){
            margin-bottom: 70px;
            font-size: 2.5em;
        }
    }
    .passo-alugar{
        width: 46%;
        display: inline-table;
        background-image: url('/assets/images/steps-sprite.png');
        padding-left: 75px;
        background-repeat: no-repeat;
        padding-top: 15px;
        margin-bottom: 63px;
        margin-right: 4%;
        @media (max-width: 767px){
            width: 100%;
            margin-right: 0;
            padding-top: 0;
            min-height: 100px;
        }
        &.passo-1 {
            background-position: -34px -23px;
        }
        &.passo-2 {
            background-position: -34px -204px;
        }
        &.passo-3 {
            background-position: -34px -381px;
        }
        &.passo-4 {
            background-position: -34px -577px;
            @media (max-width: 767px){
                margin-bottom: 0;
            }
        }
        .tittlepink{
            margin-bottom: 20px;
            @media (max-width: 767px){
                margin-bottom: 5px;
            }
        }
    }
    .simule-mobile{
        margin-top: 31.5px;
        width: 100%;
    }
}