<div class="slider-planos" id="{{idBloco}}" [ngStyle]="{'background-color': bgBloco}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="desktophighlightdark-grey mobilehighlightdark-grey" [ngStyle]="{'color': corTitulo}">
          {{titulo}}</h2>
        <div class="subtitle" [ngStyle]="{'color': corSubTitulo}">{{subTitulo}}</div>
      </div>
      <div class="col-12">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfigPlanos">
          <div ngxSlickItem *ngFor="let slide of listaPlanos" class="slide">
            <div class="wrapper-image">
              <img src="{{mediaRepository}}{{ slide.acf.imagem }}" alt="" width="100%">
            </div>
            <div class="plano">{{ slide.acf.marca }}</div>
            <div class="tittlepink">{{ slide.post_title }}</div>
            <p class="textdark-grey">
              {{ slide.acf.descricao }}
            </p>
            <div class="preco-plano">
              <div class="a-partir buttontextdark-grey">a partir de</div>
              <div class="preco tittledark-grey">{{ slide.acf.preco | currency:'BRL':true }} <span
                  class="textdark-grey">/mês</span></div>
            </div>
            <div class="cta-plano">
              <a class="button-secundary buttontextpink" (click)="goToSimulation(slide.acf.annataid)"
                href="javascript:void(0);">
                Faça uma simulação
              </a>
            </div>
          </div>
        </ngx-slick-carousel>
      </div>
    </div>
  </div>
</div>