/* Webfont: RCI-HrItalic */@font-face {
    font-family: 'RCIHr';
    src: url('RCI-HrItalic.eot'); /* IE9 Compat Modes */
    src: url('RCI-HrItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('RCI-HrItalic.woff') format('woff'), /* Modern Browsers */
         url('RCI-HrItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('RCI-HrItalic.svg#RCI-HrItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

