/* Webfont: RCI-Rg */@font-face {
    font-family: 'RCI';
    src: url('RCI-Rg.eot'); /* IE9 Compat Modes */
    src: url('RCI-Rg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('RCI-Rg.woff') format('woff'), /* Modern Browsers */
         url('RCI-Rg.ttf') format('truetype'), /* Safari, Android, iOS */
         url('RCI-Rg.svg#RCI-Rg') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

