/* Webfont: RCI-LtItalic */@font-face {
    font-family: 'RCILt';
    src: url('RCI-LtItalic.eot'); /* IE9 Compat Modes */
    src: url('RCI-LtItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('RCI-LtItalic.woff') format('woff'), /* Modern Browsers */
         url('RCI-LtItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('RCI-LtItalic.svg#RCI-LtItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

