/* Webfont: RCI-Hr */@font-face {
    font-family: 'RCIHr';
    src: url('RCI-Hr.eot'); /* IE9 Compat Modes */
    src: url('RCI-Hr.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('RCI-Hr.woff') format('woff'), /* Modern Browsers */
         url('RCI-Hr.ttf') format('truetype'), /* Safari, Android, iOS */
         url('RCI-Hr.svg#RCI-Hr') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

