/* Webfont: RCI-BdItalic */@font-face {
    font-family: 'RCI';
    src: url('RCI-BdItalic.eot'); /* IE9 Compat Modes */
    src: url('RCI-BdItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('RCI-BdItalic.woff') format('woff'), /* Modern Browsers */
         url('RCI-BdItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('RCI-BdItalic.svg#RCI-BdItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

