/* Webfont: RCI-BlkItalic */@font-face {
    font-family: 'RCIBlk';
    src: url('RCI-BlkItalic.eot'); /* IE9 Compat Modes */
    src: url('RCI-BlkItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('RCI-BlkItalic.woff') format('woff'), /* Modern Browsers */
         url('RCI-BlkItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('RCI-BlkItalic.svg#RCI-BlkItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

