<div class="page-content page-faq" >
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2 class="desktophighlightdark-grey mobilehighlightdark-grey" [ngStyle]="{'color': corTitulo}">{{titulo}}</h2>
                    <div class="textdark-grey" [ngStyle]="{'color': corSubtitulo}">{{subtitulo}}</div>
                </div>
                <div class="col-lg-7 offset-lg-1">
                    <div class="faq-header">
                        <div *ngFor="let itemFaqHeader of listaPerguntas; first as isFirst; let i = index" [ngClass]="isFirst ==  true ? 'faq-item item-'+ itemFaqHeader.filtro_categoria +' active' : 'faq-item item-'+ itemFaqHeader.filtro_categoria +''" (click)="selectFAQCategory($event, listaQuestoes);" [ngStyle]="{'width': faqHeaderWidth / listaPerguntas.length + '%'}">
                            <!-- <div *ngIf="itemFaqHeader.icone_categoria == 'icon-car' || itemFaqHeader.icone_categoria == 'icon-money'">
                                <span  [ngClass]="itemFaqHeader.icone_categoria"></span>
                                 {{itemFaqHeader.nome_categoria}}
                            </div>

                            <div *ngIf="itemFaqHeader.icone_categoria == 'icon-entrega' || itemFaqHeader.icone_categoria == 'icon-financeiro' || itemFaqHeader.icone_categoria == 'icon-vantagens'">
                                <span class="image-icon" [ngClass]="itemFaqHeader.icone_categoria"></span>
                                 {{itemFaqHeader.nome_categoria}}
                            </div> -->
                            <div>
                                <span class="image-icon" [ngClass]="itemFaqHeader.icone_categoria"></span>
                                 {{itemFaqHeader.nome_categoria}}
                            </div>
                        </div>
                    </div>
                    <div #listaQuestoes class="faq-content">
                        <ul *ngFor="let itemFaqUl of listaPerguntas; first as isFirst" [ngClass]="isFirst ==  true ? 'lista-faq item-'+ itemFaqUl.filtro_categoria +' active' : 'lista-faq item-'+ itemFaqUl.filtro_categoria +''">
                            <li *ngFor="let item of itemFaqUl.perguntas; let i = index">
                                <div class="titulo-pergunta" (click)="expandRow($event);">
                                    {{item.acf.pergunta}} <span><img src="/assets/images/accordion-arrow.svg" /></span>
                                </div>
                                <div class="resposta-pergunta hidden-teste">
                                    {{item.acf.resposta}}
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>