<ion-content padding color="primary">

  <div class="container">
    <div class="form-holder">
      <div class="img-holder">
        <img src="assets/imgs/logo.png" />
      </div>
      <div class="text-holder" *ngIf="!forgetPassword">
        <ion-label class="titulo">Bem vindo de volta!</ion-label>
        <ion-label class="subtitulo">Acesse com seu email e senha</ion-label>
      </div>
      <div class="text-holder" *ngIf="forgetPassword">
        <ion-label class="subtitulo">Te enviaremos um email com</ion-label>
        <ion-label class="subtitulo">informações para recuperação</ion-label>
      </div>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <input type="text" formControlName="email" placeholder="Email:">
        <input type="password" formControlName="password" *ngIf="!forgetPassword" placeholder="Senha:">
        <ion-button type="submit" *ngIf="!forgetPassword">Entrar</ion-button>
        <ion-button type="button" *ngIf="forgetPassword" (click)="sendEmail()">Enviar email</ion-button>
      </form>
      <a class="forget-password" *ngIf="!forgetPassword" (click)="forgetPasswordFormat()">Esqueci minha senha</a>      
      <a class="forget-password" *ngIf="forgetPassword" (click)="loginFormat()">Voltar</a>      
    </div>
  </div>

</ion-content>