ion-content {
    height: 100%;
    overflow: hidden;
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

div.form-holder {
    padding: 20px 20px 30px 20px;
    max-width: 350px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid #fff !important;
    border-radius: 16px;
}

ion-button {
    width: 100%;
    margin-top: 10px;
    height: 44px;
    border: 1px solid #fff !important;
    border-radius: 16px !important;
    --border-radius: 16px;
    color: #fff;
    background-color: transparent;
}

.ng-invalid.ng-touched {
    border-color: tomato !important;
}

.ng-valid.ng-touched {
    border-color: greenyellow !important;
}

.text-holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px 0;
}

.img-holder {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.subtitulo {
    margin-top: 0.6em;
}

form {
    width: 92%;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #fff !important;
    border-radius: 16px;
    background-color: var(--ion-color-primary);
	color: #fff;
	text-align: center;
}

input[type="password"] {
    font-size: 37px;
    max-height: 44px;
    letter-spacing: 2px;
    padding: 0 20px;
}

::placeholder {
    color: #fff;
	letter-spacing: normal;
	text-align: initial;
}

input[type="password"]::placeholder {
    font-size: 16px;
    transform: translate(0, -40%);
}

.forget-password{
    margin-top: 10px;
    font-size: 14px;
    color: white;
}