<ion-button (click)="finishCheckout()" expand="block">Finalizar e enviar as fotos</ion-button>

<div class="container">
    <div *ngFor="let images of imageLists" class="list-holder">
        <ion-row class="images-wrapper" *ngIf="images.folder">
            <ion-col col-6>
                <ion-card class="image-holder">
                    <ion-thumbnail class="icon-holder">
                        <img [src]="images.sanitized[0]" *ngIf="images.sanitized.length>0" />
                        <ion-icon name="add" (click)="presentDetailsModal(images)" class="custom-font" *ngIf="images.sanitized.length<=0"></ion-icon>
                    </ion-thumbnail>
                </ion-card>
            </ion-col>
            <ion-col col-6>
                <ion-card class="image-holder">
                    <ion-thumbnail class="icon-holder">
                        <img [src]="images.sanitized[1]" *ngIf="images.sanitized.length>1" />
                        <ion-icon name="add" (click)="presentDetailsModal(images)" class="custom-font" *ngIf="images.sanitized.length<=1"></ion-icon>
                    </ion-thumbnail>
                </ion-card>
            </ion-col>
            <ion-col col-6>
                <ion-card class="image-holder">
                    <ion-thumbnail class="icon-holder">
                        <img [src]="images.sanitized[2]" *ngIf="images.sanitized.length>2" />
                        <ion-icon name="add" (click)="presentDetailsModal(images)" class="custom-font" *ngIf="images.sanitized.length<=2"></ion-icon>
                    </ion-thumbnail>
                </ion-card>
            </ion-col>
            <ion-col col-6>
                <ion-card class="image-holder">
                    <ion-thumbnail class="icon-holder">
                        <ion-icon name="add" (click)="presentDetailsModal(images)" class="custom-font"></ion-icon>
                    </ion-thumbnail>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="images-wrapper" *ngIf="!images.folder">
            <ion-col col-12>
                <ion-card class="single-image-holder">
                    <ion-thumbnail class="icon-holder">
                        <img [src]="images.sanitized" />
                    </ion-thumbnail>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="inputs-wrapper">
            <ion-col col-12>
                <ion-item [ngClass]="{'invalidar': !images['tipoValid']}">
                    <ion-label class="input-label">Tipo</ion-label>
                    <ion-select class="myCustomSelect" [(ngModel)]="images['kindOfPhoto']" name="type">
                        <ion-select-option selected value="">Selecione uma opção</ion-select-option>
                        <ion-select-option value="0">Lateral esquerda frontal</ion-select-option>
                        <ion-select-option value="1">Lateral direita frontal</ion-select-option>
                        <ion-select-option value="2">Lateral esquerda traseira</ion-select-option>
                        <ion-select-option value="3">Lateral direita traseira</ion-select-option>
                        <ion-select-option value="4">Capô aberto</ion-select-option>
                        <ion-select-option value="5">Estepe</ion-select-option>
                        <ion-select-option value="6">Velocímetro e indicador de combustível</ion-select-option>
                        <ion-select-option value="7">Banco do motorista</ion-select-option>
                        <ion-select-option value="8">Banco do passageiro</ion-select-option>
                        <ion-select-option value="9">Banco traseiro</ion-select-option>
                        <ion-select-option value="10">Forro de porta do veículo</ion-select-option>
                        <ion-select-option value="11">Forro de teto do veículo</ion-select-option>
                        <ion-select-option value="12">CRLV</ion-select-option>
                        <ion-select-option value="13">Bateria</ion-select-option>
                        <ion-select-option value="14">Chave</ion-select-option>
                        <ion-select-option value="15">Chave reserva</ion-select-option>
                        <ion-select-option value="16">Manual</ion-select-option>
                        <ion-select-option value="17">Carroceria e interno</ion-select-option>
                        <ion-select-option value="18">Pneu frontal esquerdo</ion-select-option>
                        <ion-select-option value="19">Pneu frontal direito</ion-select-option>
                        <ion-select-option value="20">Pneu traseiro esquerdo</ion-select-option>
                        <ion-select-option value="21">Pneu traseiro direito</ion-select-option>
                        <ion-select-option value="22">Avarias</ion-select-option>
                    </ion-select>
                </ion-item>
                <ion-button (click)="excluirItem(imageLists.indexOf(images))" expand="block">Excluir</ion-button>
            </ion-col>
        </ion-row>
    </div>
</div>
