<div class="dashboard-content dashboard-content__mobile">
    <div class="container">
        <div class="row">
            <div class="col-md-1 hidden-md-down">
                <a [routerLink]="['/dashboard']" class="dashboard-back">
                    <img src="/assets/icons/nav-back.svg" />
                </a>
            </div>

            <div *ngIf="!guaranteeDeposit" class="col-md-5 hidden-md-down">
                <div class="desktophighlightdark-grey">
                    Alterar forma de pagamento
                </div>
                <p class="textdark-grey">Alterar forma de pagamento de suas mensalidades.</p>
            </div>
            <div *ngIf="guaranteeDeposit" class="col-md-5 hidden-md-down">
                <div class="desktophighlightdark-grey">
                    Efetuar pagamento
                </div>
                <p class="textdark-grey">Efetuar pagamento de sua garantia de contrato.</p>
            </div>

            <div class="col-md-12 personalForm-header__mobile hidden-lg-up">
                <div *ngIf="!successChange">
                    <a [routerLink]="['/dashboard']" class="dashboard-back">
                        <img src="/assets/icons/nav-back.svg" />
                    </a>
                    <p class="personalForm-header__mobile-p">Alterar forma de pagamento</p>
                </div>

                <div *ngIf="successChange" class="successChange-header">
                    <p class="personalForm-header__mobile-p">
                        {{ guaranteeDeposit ? 'Garantia de contrato' : 'Mensalidade'}}</p>
                    <a [routerLink]="['/dashboard']" class="dashboard-back">
                        <img src="/assets/images/close.svg" />
                    </a>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="payments-list">
                    <div class="dashbox" *ngIf="!successChange">
                        <h1 class="title">{{ guaranteeDeposit ? 'Garantia de contrato' : 'Mensalidade'}}</h1>
                        <p class="hidden-lg-up">Você pode alterar a forma de pagamento:</p>
                        <div class="tab-header">
                            <div class="tab-button" [ngClass]="creditCard ? 'active' : ''"
                                (click)="changePaymentsList()">Cartão de crédito</div>
                            <div class="tab-button" [ngClass]="!creditCard ? 'active' : ''"
                                (click)="changePaymentsList()">Boleto Bancário</div>
                        </div>
                        <form *ngIf="creditCard" [formGroup]="formAnotherPaymentMethod" name="payment-form"
                            class="floating-form payment-form">
                            <div class="floating-label">
                                <input class="floating-input" name="creditCardNumber" (keydown)="getCardBrand($event)"
                                    mask="0009.0009.0009.0009" formControlName="creditCardNumber" type="text"
                                    placeholder=" ">
                                <label>Número do Cartão</label>
                                <div class="card-brand">{{cardBrand}}</div>
                                <span class="obs-campo-erro"
                                    *ngIf="verifyInvalidAndTouched('creditCardNumber', 'formAnotherPaymentMethod')">Cartão
                                    inválido</span>
                            </div>

                            <div class="floating-label">
                                <input class="floating-input" name="creditCardName" formControlName="creditCardName"
                                    type="text" placeholder=" ">
                                <label>Nome impresso no cartão</label>
                                <span class="obs-campo-erro"
                                    *ngIf="verifyInvalidAndTouched('creditCardName', 'formAnotherPaymentMethod')">Nome
                                    inválido</span>
                            </div>

                            <div class="floating-label half-input">
                                <input class="floating-input" mask="09/09" name="creditCardDate"
                                    formControlName="creditCardDate" type="text" placeholder=" ">
                                <label>Validade</label>
                                <span class="obs-campo-erro"
                                    *ngIf="verifyInvalidAndTouched('creditCardDate', 'formAnotherPaymentMethod')">Validade
                                    inválido</span>
                            </div>

                            <div class="floating-label  floating-tooltip half-input last-half">
                                <input class="floating-input" name="creditCardCCV" formControlName="creditCardCCV"
                                    type="text" placeholder=" ">
                                <label>Código de Segurança</label>
                                <span class="obs-campo-erro"
                                    *ngIf="verifyInvalidAndTouched('creditCardCCV', 'formAnotherPaymentMethod')">CCV
                                    inválido</span>
                                <span (click)="toggleHelper()" class="form-info">?</span>
                                <div class="info-box" [ngClass]="infoOpen ? '' : 'hidden-info' ">
                                    <div (click)="toggleHelper()" class="close-details-info"></div>
                                    <img src="/assets/images/checkout/cvv.png" />
                                </div>
                            </div>

                            <div *ngIf="!guaranteeDeposit" class="floating-label select-label  half-input last-half">
                                <select class="floating-select" formControlName="paymentDate" name="paymentDate"
                                    placeholder="Data de vencimento">
                                    <option value=""></option>
                                    <option *ngFor="let opt of paymentDates" [value]="opt.key">{{opt.value}}
                                    </option>
                                </select>
                                <label>Data de Vencimento</label>
                                <!-- <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('regiao')">Selecione uma região</span> -->
                            </div>

                            <div class="payment-actions">
                                <a [routerLink]="['/dashboard/pagamento']"
                                    class="button-secundary left-button back-button hidden-md-down">Voltar</a>
                                <button type="button" (click)="submitCC()"
                                    class="button-secundary buttontextpink right-button pay-button">Confirmar</button>
                            </div>
                        </form>
                        <div class="boleto-infos" *ngIf="!creditCard">
                            <div *ngIf="!guaranteeDeposit" class="price monthly-price">
                                Quantidade de mensalidades:
                                <strong>{{contract?.numberOfInstallments}}</strong><br />
                                Valor da mensalidade:
                                <strong>{{contract?.installmentAmount  | currency:'BRL':true }}</strong>
                            </div>
                            <div *ngIf="guaranteeDeposit" class="price monthly-price">
                                Valor da garantia:
                                <strong>{{contract?.guaranteeDeposit  | currency:'BRL':true }}</strong>
                            </div>
                            <form *ngIf="!guaranteeDeposit" [formGroup]="boletoForm" name="boletoForm"
                                class="floating-form boleto-form">
                                <div class="floating-label select-label">
                                    <select class="floating-select" formControlName="paymentDate" name="paymentDate"
                                        placeholder="Data de vencimento">
                                        <option value=""></option>
                                        <option *ngFor="let opt of paymentDates" [value]="opt.key">{{opt.value}}
                                        </option>
                                    </select>
                                    <label>Data de Vencimento</label>
                                    <!-- <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('regiao')">Selecione uma região</span> -->
                                </div>
                            </form>
                            <div class="recurrent">
                                Pagamento com boleto bancário recorrente. Você irá receber o boleto referente a cada
                                mensalidade no e-mail cadastrado, e também poderá visualizar através da àrea do cliente.
                            </div>
                            <ul>
                                <li>Você pode pagar o boleto em qualquer banco até a data de vencimento.</li>
                                <li>A confirmação do pagamento é realizada em até 2 (dois) dias úteis após o pagamento.
                                </li>
                                <li>Caso o boleto não seja pago até a data de vencimento, seu pedido será cancelado
                                    automaticamente.</li>
                            </ul>
                            <div class="payment-actions">
                                <a [routerLink]="['/dashboard/pagamento']"
                                    class="button-secundary left-button back-button hidden-md-down">Voltar</a>
                                <button type="submit" name="submit" (click)="submitBillet()"
                                    class="button-secundary buttontextpink right-button pay-button">Confirmar</button>
                            </div>
                        </div>
                    </div>

                    <div class="dashbox dashbox-successChange" *ngIf="successChange && !guaranteeDeposit">
                        <h1 class="title text-left mb-4">Forma de pagamento alterada ;)</h1>
                        <p>Sua forma de pagamento para mensalidade foi alterada com sucesso.</p>
                        <p>Lembre-se, você não poderá alterar a forma de pagamento novamente dentro de 180 dias.</p>

                        <div class="payment-actions">
                            <button type="submit" name="submit" [routerLink]="['/dashboard/pagamento']"
                                class="button-secundary buttontextpink right-button pay-button">Ok</button>
                        </div>
                    </div>

                    <div class="dashbox dashbox-successChange" *ngIf="successChange && guaranteeDeposit">
                        <h1 class="title text-left mb-4">Forma de pagamento alterada ;)</h1>
                        <p>Sua forma de pagamento para garantia de deposito foi alterada com sucesso.</p>

                        <div class="payment-actions">
                            <button type="submit" name="submit" [routerLink]="['/dashboard/pagamento']"
                                class="button-secundary buttontextpink right-button pay-button">Ok</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>