<div class="dashboard-content">
    <div class="container">
        <!-- <div class="row">
            <div class="col-12">
                <div class="notification">
                    <span>Atenção!</span> Você tem novas notificações.
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="dash-box" [routerLink]="['/dashboard/meu-perfil']">
                    <img src="/assets/icons/dashboard/perfil.svg" />
                    <div class="title">Meu perfil</div>
                    <div class="text">Confira aqui seus dados pessoais cadastrados</div>
                    <div class="cta">Acesse agora</div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="dash-box" [routerLink]="['/dashboard/meus-pedidos']">
                    <img src="/assets/icons/dashboard/pedidos.svg" />
                    <div class="title">Meus Pedidos</div>
                    <div class="text">Acompanhe o andamento dos seus pedidos em tempo real</div>
                    <div class="cta">Acesse agora</div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="dash-box" [routerLink]="['/dashboard/meu-contrato']">
                    <img src="/assets/icons/dashboard/contrato.svg" />
                    <div class="title">Meu Contrato</div>
                    <div class="text">Acesse seus documentos sempre que precisar</div>
                    <div class="cta">Acesse agora</div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="dash-box" [routerLink]="['/dashboard/pagamento']">
                    <img src="/assets/icons/dashboard/perfil.svg" />
                    <div class="title">Dados de pagamento</div>
                    <div class="text">Confira aqui os dados cadastrados para pagamento de sua assinatura mensal</div>
                    <div class="cta">Acesse agora</div>
                </div>
            </div>
            <div class="col-12 col-md-3">
                <div class="dash-box" [routerLink]="['/dashboard/servicos']">
                    <img src="/assets/icons/dashboard/servicos.svg" />
                    <div class="title">Meus Serviços</div>
                    <div class="text">Confira todos os serviços já contemplados em seu plano.</div>
                    <div class="cta">Acesse agora</div>
                </div>
            </div>
        </div>
    </div>
</div>