<div class="dashboard-content dashboard-content__mobile">
    <div class="container">
        <div class="row">
            <div class="col-md-1 hidden-md-down">
                <a [routerLink]="['/dashboard/meus-pedidos']" class="dashboard-back">
                    <img src="/assets/icons/nav-back.svg" />
                </a>
            </div>

            <div class="col-md-4 hidden-md-down">
                <div class="desktophighlightdark-grey">
                    Meu pedido
                </div>
                <p class="textdark-grey">Acompanhe e gerencie seu pedidos em tempo real</p>
            </div>

            <div class="col-md-12 personalForm-header__mobile hidden-lg-up">
                <a [routerLink]="['/dashboard']" class="dashboard-back">
                    <img src="/assets/icons/nav-back.svg" />
                </a>
                <p class="personalForm-header__mobile-p">Pedido {{contract?.contract?.rentId}}</p>
            </div>

            <div class="col-lg-6">
                <div class="dashbox loader-dash" *ngIf="loadingStatus">
                    <app-loading *ngIf="loadingStatus"></app-loading>
                </div>
                <div *ngIf="!loadingStatus" class="dashbox">
                    <div class="order-number hidden-md-down">
                        Pedido {{contract?.contract?.rentId}}
                    </div>
                    <div class="order-number hidden-lg-up">
                        Detalhes
                    </div>
                    <div class="order-date hidden-lg-up">
                        Nº do pedido: <strong>{{contract?.contract?.rentId}}</strong>
                    </div>
                    <div class="order-date">
                        Data do pedido: <strong>{{contract?.contract?.contractDate | date:'dd/MM/yyyy'}}</strong>
                    </div>
                    <div class="order-progress">
                        <div class="status-progress  first-status" [ngClass]="firstClass"
                            *ngIf="contract?.annataStatus != 'Approved' && contract?.annataStatus != 'PendingDocuments'">
                            <div class="status-bullet first-bullet"></div>
                            <span>Pedido está<br /> sendo analisado</span>
                        </div>
                        <div class="status-progress  first-status" [ngClass]="firstClass"
                            *ngIf="contract?.annataStatus == 'Approved'">
                            <div class="status-bullet first-bullet"></div>
                            <span>Pedido <br /> aprovado</span>
                        </div>
                        <div class="status-progress  first-status" [ngClass]="firstClass"
                            *ngIf="contract?.annataStatus != 'Approved' && contract?.annataStatus == 'PendingDocuments'">
                            <div class="status-bullet first-bullet"></div>
                            <span>Pendente de documentos <br /> adicionais</span>
                        </div>
                        <div class="status-progress second-status" [ngClass]="secondClass">
                            <div class="status-bullet second-bullet"></div>
                            <span>Veículo a<br /> caminho</span>
                        </div>
                        <div class="status-progress  third-status" [ngClass]="thirdClass">
                            <div class="status-bullet third-bullet"></div>
                            <span>Disponível<br /> para retirada</span>
                        </div>
                        <div class="status-progress  last-status" [ngClass]="fourClass">
                            <div class="status-bullet last-bullet"></div>
                            <span>Veículo<br /> entregue</span>
                        </div>
                    </div>
                    <div *ngIf="contract?.annataStatus == 'Approved'" class="order-date">
                        Previsão de chegada: <strong>até {{ dataPrevChegada | date:'dd/MM/yyyy' }}</strong>
                    </div>
                    <ul>
                        <li>
                            <div class="titulo-pergunta" (click)="expandRow($event);">
                                Itens do pedido <span><img src="/assets/images/accordion-arrow.svg" /></span>
                            </div>
                            <div class="resposta-pergunta hidden-teste">
                                <div class="car-name">
                                    {{contract?.model?.brand}} {{contract?.model?.class}}<br />
                                    {{contract?.model?.model}}
                                </div>
                                <div class="order-date">Ano/Modelo: <strong>{{contract?.model?.modelYear}}</strong>
                                </div>
                                <div class="order-date">Cor: <strong>{{contract?.color?.color}}</strong></div>
                                <div class="order-date">Vigência do
                                    contrato:<strong>{{contract?.contract?.timeDeadline}} meses</strong></div>
                                <div class="order-date">Km contratada:
                                    <strong>{{contract?.contract?.kmLimit}}KM</strong></div>
                            </div>
                        </li>
                        <li>
                            <div class="titulo-pergunta" (click)="expandRow($event);">
                                Entrega <span><img src="/assets/images/accordion-arrow.svg" /></span>
                            </div>
                            <div class="resposta-pergunta hidden-teste">
                                <div class="local-name">
                                    {{contract?.dealership?.name}}
                                </div>
                                <div class="local-address">
                                    {{contract?.dealership?.address}}<br />
                                    Tel: {{contract?.dealership?.phoneNumber}}<br />
                                </div>
                            </div>
                        </li>
                    </ul>
                    <a class="button-secundary buttontextpink"
                        *ngIf="contract?.contract?.signedContract == false && contract?.annataStatus == 'Approved'"
                        [routerLink]="['/pagamento/contrato/', contract?.contract?.idContract]"
                        routerLinkActive="router-link-active">
                        Clique aqui para finalizar a contratação do seu pedido
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>