<div class="duvidas" id="idBloco" [ngStyle]="{'background-color': bgBloco}">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="desktophighlightdark-grey mobilehighlightdark-grey" [ngStyle]="{'color': corTitulo}">{{titulo}}</div>
                <div class="textdark-grey" [ngStyle]="{'color': corDescricao}">{{descricao}}</div>
                <a class="hidden-md-down">
                    <img src="assets/images/arrow-down-black.svg" alt="Loopster - Próxima seção" />
                </a>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <ul>
                    <li *ngFor="let item of listaPerguntas">
                        <div class="titulo-pergunta" (click)="expandRow($event);">
                            {{item.acf.pergunta}} <span><img src="/assets/images/accordion-arrow.svg" /></span>
                        </div>
                        <div class="resposta-pergunta hidden-teste">
                            {{item.acf.resposta}}
                        </div>
                    </li>
                </ul>
                <div class="cta-faq" [routerLink]="['/faq']">{{textoCTA}} <a>{{textoLinkCTA}}</a></div>
            </div>
        </div>
    </div>
</div>