<app-diretiva-ngswtich></app-diretiva-ngswtich>

<h1 class="mt-4">ngIf</h1>
<app-diretiva-ngif></app-diretiva-ngif>

<h1 class="mt-4">ngFor</h1>
<app-diretiva-ngfor></app-diretiva-ngfor>

<h1 class="mt-4">ngClass</h1>
<app-diretiva-ngclass></app-diretiva-ngclass>

<h1 class="mt-4">ngStyle</h1>
<app-diretiva-ngstyle></app-diretiva-ngstyle>

<h1 class="mt-4">Operador Elvis</h1>
<app-operador-elvis></app-operador-elvis>

<h1 class="mt-4">ng-content</h1>
<!-- <app-exemplo-ng-content>
    Conteúdo passado para o componente.
</app-exemplo-ng-content> -->

<app-exemplo-ng-content>
    <div class="titulo">Título</div>
    <div class="corpo">Conteúdo passado para o componente divido em áreas.</div>
    Conteúdo passado para o componente.
</app-exemplo-ng-content>

<h1 class="mt-4">Criando diretivas</h1>
<app-diretivas-customizadas></app-diretivas-customizadas>