

.comparacao-aluguel{
    padding: 190px 0;
    @media(max-width:991px){
        padding: 50px 0;
        border-radius: 0 0 60px 0;
        margin-bottom: -50px;
        z-index: 1;
        position: relative;
        display: block;
        background: #fff;
    }
    .desktophighlightdark-grey{
        text-align: center;
        margin-bottom: 30px;
        color: #FF7900 !important;
        @media(max-width:767px){
            text-align: left;
        }
    }
    .textdark-grey{
        text-align: center;
        @media(max-width:767px){
            text-align: left;
        }
        margin-bottom: 60px;
        display: block;
    }
    .col-titulo{
        @media (max-width:991px) {
            padding: 0;
        }
    }
    .titulo-comparativo{
        text-align: center;
        margin-bottom: 25px;
        padding: {
            left: 25px;
            right: 25px;
        }
        @media (max-width:991px) {
            padding: 0;
        }
    }
    .tabelas-comparativo{
        position: relative;
        display: block;
        margin-bottom: 60px;
        &:before{
            content: "";
            position: absolute;
            left: 0;
            width: 48%;
            height: 100%;
            background-color: #f7f7f7;
            border-radius: 60px;
            @media (max-width:991px) {
                width: 20%;
                border-radius: 0
            }
        }
        &:after{
            content: "";
            top: 0;
            position: absolute;
            right: 0;
            width: 48%;
            height: 100%;
            background-color: #f7f7f7;
            border-radius: 60px 0px 0px 60px;
            z-index: -1;
            @media (max-width:991px) {
                width: 20%;
                border-radius: 0
            }
        }
        .item-comparativo{
            display: flex !important;
            align-items: center;
            justify-content: center;
            padding: 0px 25px;
            margin-bottom: 0;
            @media(min-width:768px){
                text-align: left;
                justify-content: unset;
            }
            @media (max-width:991px) {
                padding: 25px 10px;
                min-height: 119px;
                font-size: 12px;
            }
            @media(max-width:767px){
                min-height: 170px;
            }
            &:last-child{
                border: none;
            }
            strong{
                display: contents;
                position: relative;
                font-weight: bold;
                @media (max-width:991px) {
                    color: #FF7900;
                }
            }
        }
        .item-comparativo-icon{
            display: block;
            align-items: center;
            justify-content: center;
            padding: 40px 25px;
            margin-bottom: 0;
            justify-content: start;
            align-content: center;
            align-items: center;
            min-height: 130px;
            @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                display: inline-flex !important
            }
            @media(max-width:767px){
                padding: 50px 10px;
                min-height: 170px;
            }
            .texto-item{
                font-size: 16px;
                font-weight: bold;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                text-align: center;
                color: #FF7900;
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    display: inline-table !important
                }
                @media (min-width:1024px) and (max-width:1500px){
                    font-size: 13px;
                }
                @media (max-width:991px) {
                    font-weight: normal;
                    font-size: 12px;
                }
            }
            span{
                position: relative;
                display: block;
                text-align: center;
                font-size: 29px;
                @media (max-width:991px) {
                    font-weight: normal;
                    font-size: 23px;
                }
            }
        }
        .coluna-esquerda-icons{
            padding-top: 130px;
            .item-comparativo-icon{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                span{
                    position: relative;
                    display: block;
                    margin-right: 20px;
                }
            }
            .texto-item{
                display: flex;
                text-align: left;
            }
        }
        .titles-desktop{
            position: relative;
            display: block;
            width: 100%;
            .table-title{
                font-size: 34px;
                font-weight: bold;
                font-stretch: normal;
                font-style: normal;
                line-height: 1.18;
                letter-spacing: normal;
                text-align: center;
                color: #282832;
                position: absolute;
                top: 45px;
                left: 10%;
                z-index: 9;
                @media(max-width:767px){
                    top: 25px;
                    left: 4px;
                    z-index: 9;
                    font-size: 18px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.3;
                    letter-spacing: normal;
                    color: #FF7900;
                    width: 25%;
                }
                &.right-title{
                    left: auto;
                    right: 10%;
                    @media(max-width:767px){
                        right: 4px;
                    }
                }
            }
        }
        
        .coluna-esquerda{
            background-color: #f7f7f7;
            border-radius: 0 60px 60px 0px;
            position: relative;
            z-index: 1;
            padding: 130px 0px;
            @media(min-width:768px){
                padding: 130px 0px;
            }
            @media(max-width:767px){
                padding: 60px 0px;
            }
            .item-comparativo{
                min-height:130px; 
                position: relative;
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    padding: 13% 8%;
                    display: inline-block !important
                }
                @media(max-width:767px){
                    min-height: 170px;
                }
                @media (max-width:991px) {
                    text-align: left;
                }
                &:after{
                    content: "";
                    width: 29rem;
                    height: 2px;
                    background-color: #ededed;
                    position: absolute;
                    bottom: -3px;
                    left: -166px;
                    @media (max-width:767px) {
                        width: 90vw;
                    }
                    @media (min-width:768px) and (max-width:991px) {
                        width: 62vw;
                    }
                }
                &:last-child{
                    &:after{
                        display: none
                    }
                }
            }
        }
        .coluna-direita{
            background-color: #f7f7f7;
            border-radius: 60px 0px 0px 60px;
            padding: 130px 0px;
            @media(min-width:768px){
                padding: 130px 0px;
            }
            @media(max-width:767px){
                padding: 60px 0px;
            }
            .item-comparativo{
                min-height:130px;
                @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
                    padding: 13% 8%;
                    display: inline-block !important
                }
                position: relative;
                @media(max-width:767px){
                    min-height: 170px;
                }
                &:after{
                    content: "";
                    width: 29rem;
                    height: 2px;
                    background-color: #ededed;
                    position: absolute;
                    bottom: -3px;
                    right: 0;
                    @media (max-width:767px) {
                        width: 90vw;
                    }
                    @media (min-width:768px) and (max-width:991px) {
                        width: 62vw;
                    }
                }
                &:last-child{
                    &:after{
                        display: none
                    }
                }
                @media (max-width:991px) {
                    text-align: right;
                }
            }
        }
        .coluna-centro{
            padding: 40px 0px;
            @media(max-width:320px){
                padding: 60px 0;
            }
            @media(max-width:767px){
                padding: 60px 0px;
            }
        }
    }
    .comparativo-disclaimer{
        @media(max-width:767px){
            position: relative;
            display: block;
            margin: 0 auto;
            text-align: center;
        }
        a{
            padding: 10px 30px;
            margin-bottom: 30px;
            width: 100%;
            @media (max-width:767px){
                padding: 10px 55px;
            }
        }
        span{
            display: block;
            font-size: 12px;
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            color: #999999;
            @media(min-width:768px){
                text-align: left
            }
        }
    }
}