<div class="comparacao-aluguel">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="desktophighlightdark-grey mobilehighlightdark-grey hidden-md-up" [ngStyle]="{'color': corTitulo}">
          {{titulo}}</h1>
        <h1 class="desktophighlightdark-grey mobilehighlightdark-grey hidden-sm-down" [ngStyle]="{'color': corTitulo}">
          {{titulo}}</h1>
        <span class="textdark-grey hidden-sm-down">Veja o comparativo e descubra as vantagens de alugar um carro.</span>
        <span class="textdark-grey hidden-md-up">Compare e descubra as vantagens de alugar um carro.</span>
      </div>
    </div>
  </div>
  <div class="tabelas-comparativo hidden-sm-down">
    <div class="container">
      <div class="row">
        <div class="titles-desktop">
          <div class="table-title">Comprar um carro</div>
          <div class="table-title right-title">Ser um Loopster</div>
        </div>
        <div class="col-md-2 coluna-esquerda-icons">
          <div *ngFor="let item of listaCompra" class="item-comparativo-icon">
            <span [ngClass]="item.icone"></span>
            <div class="texto-item">{{item.titulo}}</div>
          </div>
        </div>
        <div class="col-4 col-md-3 coluna-esquerda">
          <div class="item-comparativo textdark-grey" *ngFor="let item of listaCompra" [innerHTML]="item.texto"></div>
        </div>
        <div class="col-4 col-md-1 coluna-centro">
        </div>
        <div class="col-md-2  offset-md-1 coluna-esquerda-icons">
          <div *ngFor="let item of listaCompra" class="item-comparativo-icon">
            <span [ngClass]="item.icone"></span>
            <div class="texto-item">{{item.titulo}}</div>
          </div>
        </div>
        <div class="col-4 col-md-3 coluna-direita">
          <div class="item-comparativo textdark-grey" *ngFor="let item of listaAssinatura" [innerHTML]="item.texto">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="tabelas-comparativo hidden-md-up">
    <div class="container">
      <div class="row">
        <div class="titles-desktop">
          <div class="table-title">Comprar um carro</div>
          <div class="table-title right-title">Assinar a Loopster</div>
        </div>
        <div class="col-4 col-md-3 offset-md-2 coluna-esquerda">
          <div class="item-comparativo textdark-grey" *ngFor="let item of listaCompra" [innerHTML]="item.texto"></div>
        </div>
        <div class="col-4 col-md-2 coluna-centro">
          <div *ngFor="let item of listaCompra" class="item-comparativo-icon">
            <span [ngClass]="item.icone"></span>
            <div class="texto-item">{{item.titulo}}</div>
          </div>
        </div>
        <div class="col-4 col-md-3 coluna-direita">
          <div class="item-comparativo textdark-grey" *ngFor="let item of listaAssinatura" [innerHTML]="item.texto">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container hidden-md-up">
    <div class="row comparativo-disclaimer">
      <div class="col-12 col-md-8 offset-md-2">
        <a [routerLink]="['/simulador']" class="button-secundary buttontextpink hidden-md-up">
          Simule e compare os preços
        </a>
        <a [routerLink]="['/simulador']" class="button-secundary buttontextpink hidden-sm-down">
          Simule agora
        </a>
        <span style="text-align: center !important;">
          *Para o comparativo acima foram utilizados os seguintes critérios: i) Valor para a compra de um veículo Duster
          1.6 Dynamique CVT + Couro e Pintura Metálica; ii) alíquota de IPVA de 3,5% ao ano sobre o valor do veículo;
          iii) seguro auto no valor de 3,5% ao ano sobre o valor do bem; iv) despesas com emplacamento do veículo; v)
          valores das revisões pela Rede Autorizada Renault, conforme orientações do manual do fabricante; vi)
          depreciação do veículo após 18 meses em 25% sobre o valor de compra do bem. Data de referência do comparativo:
          Dezembro/2019.
        </span>
      </div>
    </div>
  </div>
  <div class="container hidden-sm-down">
    <div class="row comparativo-disclaimer">
      <div class="col-2 offset-md-5">
        <a [routerLink]="['/simulador']" class="button-secundary buttontextpink">
          Simule agora
        </a>
      </div>
      <div class="col-8 offset-md-2">
        <span style="text-align: center !important;">
          *Para o comparativo acima foram utilizados os seguintes critérios: i) Valor para a compra de um veículo Duster
          1.6 Dynamique CVT + Couro e Pintura Metálica; ii) alíquota de IPVA de 3,5% ao ano sobre o valor do veículo;
          iii) seguro auto no valor de 3,5% ao ano sobre o valor do bem; iv) despesas com emplacamento do veículo; v)
          valores das revisões pela Rede Autorizada Renault, conforme orientações do manual do fabricante; vi)
          depreciação do veículo após 18 meses em 25% sobre o valor de compra do bem. Data de referência do comparativo:
          Dezembro/2019.
        </span>
      </div>
    </div>
  </div>
</div>
