@import url('../assets/asc_temas.css');

@font-face {
  font-family: 'FontAwesomeChatBot';
  src: url('../fontawesome/FontAwesome.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: 'Bion Sans';
	font-weight: 100;
	src: url("../bionsans/bionsans-extralight.otf") format("opentype"); }
@font-face {
	font-family: 'Bion Sans';
	font-weight: 200;
	src: url("../bionsans/bionsans-light.otf") format("opentype"); }
@font-face {
	font-family: 'Bion Sans';
	font-style: normal;
	font-weight: 300;
	src: url("../bionsans/bionsans-regular.otf") format("opentype"); }
@font-face {
	font-family: 'Bion Sans';
	font-weight: 400;
	src: url("../bionsans/bionsans-semibold.otf") format("opentype"); }
@font-face {
	font-family: 'Bion Sans';
	font-weight: 700;
	src: url("../bionsans/bionsans-bold.otf") format("opentype"); }
@font-face {
	font-family: 'Bion Sans';
	font-weight: 900;
	src: url("../bionsans/bionsans-extrabold.otf") format("opentype"); }
	
/*	
@font-face {
font-family: 'RCI';
font-weight: 900;
src: url("https://rciportal-hml.azurewebsites.net/assets/fonts/RCI-Rg.woff") format("opentype"); }
	*/


/*#divBtnAsc .fa{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesomeChatBot;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}*/

/*#divBtnAsc .fa-comments:before {
  content:"\f086"
}*/

/*#divBtnAsc [class*="fa-"],
#divBtnAsc [class^="fa-"]{
    display: inline-block;
    text-align: center;
}*/

/*#iframeChatBot {
	position:fixed;
	width:300px;
	height:460px;
	z-index:99998;
	right:1%;
	border:none;
	bottom: -20px;
}*/

#chatBot {
	position:fixed;
	width:300px;
	height:520px;
	z-index:999999999999999999999;
	right:1%;
	border:none;
	bottom: 0;
	/*background: #fff;*/
}

@media screen and (max-width: 480px), screen and (max-height: 500px) {
	#chatBot {
		position:fixed;
		z-index:9999999999999999999999;
		right:0;
		border:none;
		top:inherit;
		bottom: 0;
		background: #fff;
		width:100%!important;
		height:80vh;
		/*max-height:100%!important;*/
	}
	#iframeChatBot {
		height:80vh!important;
	}
}

@media screen and (min-height: 501px) and (max-height: 520px) {
	#chatBot {
		height: 80vh !important;
	}
}

#abaChatBot {
	width:100%;
}

#abaChatBot .box {
	display:block;
	border:2px solid #ededed;
	margin-right:5px;
	background: #fff;
}

#abaChatBot .chtflt-box-title {
	background-color:#FF7900 !important;
	color: #fff;
	padding:5px;
	font-family:"Arial", Cursive;
	font-weight:200;
	font-size:1em;
	
}

#chatBot.skin-magenta .chtflt-box-title {
	background-color:#e1a1ef!important;
}
#chatBot.skin-blue .chtflt-box-title {
	background-color:#b6d1f2!important;
}
#chatBot.skin-red .chtflt-box-title {
	background-color:#f7a1a1!important;
}
#chatBot.skin-green .chtflt-box-title {
	background-color:#ade8a1!important;
}
#chatBot.skin-orange .chtflt-box-title {
	background-color:#f8cd92!important;
}
#chatBot.skin-yellow .chtflt-box-title {
	background-color:#f4f190!important;
}
#chatBot.skin-pink .chtflt-box-title {
	background-color:#f49ed8!important;
}
#chatBot.skin-gray .chtflt-box-title {
	background-color:#bbb!important;
}
#chatBot.skin-black .chtflt-box-title {
	background-color:#555!important;
}

#abaChatBot .chtflt-box-title .chtflt-box-tool {
	float: right;
}

#abaChatBot .chtflt-box-title .chtflt-box-tool a {
	text-decoration: none;
	color:#fff;
	font-family:"Arial";
	font-weight:500!important;
	text-transform: lowercase;
	background-color:RGB(255,121,0) !important;
}

.chtflt-fechar {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesomeChatBot;
	font-size: 16px!important;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.chtflt-fechar:before {
	content: "\f00d";
}

#closeChatBot {
	text-decoration: none;
	color:#9d9d9d;
	font-family:"Arial";
	font-weight:500!important;
	text-transform: lowercase;
	position: absolute;
	right:20px;
	top:8px;
}

#abaChatBot .chtflt-box-title span {
	font-size:16px;
	line-height: 1.42857143;
	letter-spacing: 2px;
	font-family:"RCI";
	/*text-transform: uppercase;*/
	/*background-color:RGB(255,121,0) !important;*/
}

#box-title {
	font-size:16px;
	line-height: 1.42857143;
	letter-spacing: 2px;
	text-transform: uppercase;
	background-color:#000000 !important;
}

#bodyIframe {
	padding:0 0px 0 0px;
	width:100%;
	height:100%;
	background-color:#fff;
}

#bodyIframe.chtflt_safari_only {
	overflow-y:scroll!important;
	-webkit-overflow-scrolling: touch!important;
	width: 100%!important;
	height:500px!important;
}

#iframeChatBot {
	width:100%;
	height:500px;
	border:1px solid #ededed;
}

#iframeChatBot.chtflt_safari_only {
	width:100%!important;
	height:100%!important;
}

/*
#btnChatFlt {

	position: fixed;
	right: 1%;
    bottom: 0;
	z-index: 99999;
	background-color: #FF7900 !important;
	border-color: #017cdb;
	color: #fff;
	display: inline-block;
	padding: 5px 10px;
	margin-bottom: 0;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 10px 10px 0 0;
	text-transform: uppercase;
	font-family:"Bion Sans", Cursive;
	font-weight:200;
	font-size:1em;
}*/


#btnChatFlt{
    background-image:url("http://api_loopster.dbm.com.br/assets/images/float-chat.svg");
    background-repeat:no-repeat;
    bottom:5px!important;
    height:125px;
    font-size:0!important;
    right:4px!important;
    width:130px;
    background-color:transparent!important;
	position: fixed;
	right: 1%;
    bottom: 0;
	z-index: 99999;
	display: inline-block;
	padding: 5px 10px;
	margin-bottom: 0;
	line-height: 1.42857143;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	border: 1px solid transparent;
	border-radius: 90px 90px 0 0;
	font-family:"RCI";
	font-weight:200;
	font-size:1em;
}


#btnChatFlt:hover {      
   background-image:url("http://api_loopster.dbm.com.br/assets/images/float-chat.svg");
    background-repeat:no-repeat;
    bottom:8px!important;
    height:125px;
    font-size:0!important;
    right:4px!important;
    width:130px;
	border-radius: 90px 90px 0 0;
    background-color:RGB(255,121,0) !important;
	border: 2px solid RGB(255,121,0) !important;
}



#btnChatFlt > img {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	border-radius: 90px 90px 0 0;
	border:0;
}

#btnChatFlt > img :hover {
	width: 30px;
	height: 30px;
	vertical-align: middle;
	border-radius: 90px 90px 0 0;
	border:0;
}

#btnChatFlt > span {
	vertical-align: middle;
}

#divBtnChtflt.skin-magenta #btnChatFlt {
	background-color:#e1a1ef!important;
}
#divBtnChtflt.skin-blue #btnChatFlt {
	background-color:#b6d1f2!important;
}
#divBtnChtflt.skin-red #btnChatFlt {
	background-color:#f7a1a1!important;
}
#divBtnChtflt.skin-green #btnChatFlt {
	background-color:#ade8a1!important;
}
#divBtnChtflt.skin-orange #btnChatFlt {
	background-color:#f8cd92!important;
}
#divBtnChtflt.skin-yellow #btnChatFlt {
	background-color:#f4f190!important;
}
#divBtnChtflt.skin-pink #btnChatFlt {
	background-color:#f49ed8!important;
}
#divBtnChtflt.skin-gray #btnChatFlt {
	background-color:#bbb!important;
}
#divBtnChtflt.skin-black #btnChatFlt {
	background-color:#555!important;
}
