<div class="step-indicator d-flex flex-center">
    <div class="step-indicator-icon-holder" [ngClass]="step ==  1 ? '' : 'disable'">
        <ion-icon *ngIf="step == 1" name="md-list-box"></ion-icon>
        1
    </div>
    <div class="step-indicator-icon-holder" [ngClass]="step ==  2 ? '' : 'disable'">
        <ion-icon *ngIf="step == 2" name="md-image"></ion-icon>
        2
    </div>
    <div class="step-indicator-icon-holder" [ngClass]="step ==  3 ? '' : 'disable'">
        <ion-icon *ngIf="step == 3" name="md-car"></ion-icon>
        3
    </div>
</div>