.page-content{
    padding: 190px 0;
    @media (max-width:991px){
      padding: 70px 0;
    }
}




/*INICIO HOME*/








.contato-rapido{
  background-color: #FF7900;
  padding: 70px 0;
  position: relative;
  @media (max-width:767px){
      padding: 50px 0;
      margin-top: -70px;
      padding-top: 140px;
      border-radius: 0 0 0 60px;
  }
  .tittlewhite{
      margin-bottom: 40px;
      @media (min-width:768px){
          position: relative;
          display: inline-table;
      }
  }
  .textwhite{
      margin-bottom: 35px;
      position: relative;
      display: block;
      @media (min-width:768px){
          position: relative;
          display: inline;
          margin-left: 25px;
      }
  }
  input{
      width: 100%;
      border: none;
      background-color: #ffffffd9;
      font-size: 16px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #282832;
      padding: 15px 10px;
      margin-bottom: 35px;
      border-radius: 4px 4px 0 0;
      @media (min-width:768px){
          border-bottom: 1px solid #1d1d1d;
      }
  }
  button{
      background: none;
      border-radius: 20px;
      border: solid 2px #fff;
      padding: 10px 30px;
      text-align: center;
      @media (min-width:768px){
          width: 100%;
          margin-top: 10px;
          padding: 10px 5px;
      }
  }
  &:after{
      content: "";
      position: absolute;
      left: 0;
      width: 100%;
      background: #282832;
      bottom: 0;
      height: 60px;
      z-index: -2;
  }
  .floating-label{
      margin-bottom: 0;
      label{
          left: 30px;
      }
      .floating-input {
          &:focus ~ label, &:not(:placeholder-shown) ~ label {
              top: -25px;
              font-size: 16px;
              color: #fff;
              left: 25px;
          }
      }

      .floating-select {
          &:focus ~ label, &:not([value=""]):valid ~ label {
              top: -25px;
              font-size: 16px;
              color: #fff;
              left: 25px;
          }
      }
  }
  
}


/*FIM HOME*/


.page-contato{
  .desktophighlightdark-grey{
      margin-bottom: 30px;
  }
  .textdark-grey{
      margin-bottom: 40px;
  }
}
