<div *ngFor="let bloco of listaConteudo">
    <app-passosAluguel *ngIf="bloco.acf_fc_layout == 'passos_aluguel'" 
        layoutBloco="{{bloco.layout_do_bloco}}"
        postName="{{bloco.acf_fc_layout}}"
        bgBloco="{{bloco.cor_de_fundo}}"
        tituloBloco="{{bloco?.titulo_do_bloco}}"
        corTituloBloco="{{bloco?.cor_do_titulo}}"
        corTitulos="{{bloco?.cor_titulos}}"
        corTextos="{{bloco?.cor_textos}}"
        tituloPasso1="{{bloco?.titulo_passo_1}}"
        textoPasso1="{{bloco?.texto_passo_1}}"
        tituloPasso2="{{bloco?.titulo_passo_2}}"
        textoPasso2="{{bloco?.texto_passo_2}}"
        tituloPasso3="{{bloco?.titulo_passo_3}}"
        textoPasso3="{{bloco?.texto_passo_3}}"
        tituloPasso4="{{bloco?.titulo_passo_4}}"
        textoPasso4="{{bloco?.texto_passo_4}}" #passosAluguelComponent>
    </app-passosAluguel>
    <app-carrosselVantagens *ngIf="bloco.acf_fc_layout == 'carrossel_de_vantagens'"
        idBloco="{{bloco.acf_fc_layout}}"
        bgBloco="{{bloco?.cor_de_fundo}}"
        titulo="{{bloco?.titulo}}"
        corTitulo="{{bloco?.cor_titulo}}"
        descricao="{{bloco?.descricao}}"
        textoJuridico="{{bloco?.texto_juridico}}"
        corDescricao="{{bloco?.cor_descricao}}"
        [listaVantagens]="bloco?.vantagens"
    #carrosselVantagensComponent>
    </app-carrosselVantagens>
    <app-carrosselPlanos *ngIf="bloco.acf_fc_layout == 'carrossel_de_planos'"
        idBloco="{{bloco.acf_fc_layout}}"
        bgBloco="{{bloco?.cor_de_fundo}}"
        titulo="{{bloco?.titulo}}"
        corTitulo="{{bloco?.cor_titulo}}"
        subTitulo="{{bloco?.subtitulo}}"
        corSubTitulo="{{bloco?.cor_subtitulo}}"
        [listaPlanos]="bloco?.planos"
        #carrosselPlanosComponent>
    </app-carrosselPlanos>
    <app-destaqueTextoImagem *ngIf="bloco.acf_fc_layout == 'destaque_texto_e_imagem'"
        idBloco="{{bloco.acf_fc_layout}}"
        bgBloco="{{bloco?.cor_de_fundo}}"
        bgDesktop="bloco?.imagem_destaque_desktop"
        bgMobile="bloco?.imagem_destaque_mobile"
        titulo="{{bloco?.titulo}}"
        corTitulo="{{bloco?.cor_titulo}}"
        subTitulo="{{bloco?.subtitulo}}"
        corSubTitulo="{{bloco?.cor_subtitulo}}"
        descricao="{{bloco?.descricao}}"
        corDescricao="{{bloco?.cor_descricao}}"
        hasCTA="{{bloco.possui_cta}}"
        textoCTA="{{bloco?.texto_cta}}"
        videoCTA="{{bloco.video_cta}}"
        #destaqueTextoImagemComponent>
    </app-destaqueTextoImagem>
    <app-faqDestaque *ngIf="bloco.acf_fc_layout == 'duvidas_destaque'" 
    idBloco="{{bloco?.acf_fc_layout}}"
    bgBloco="{{bloco?.cor_de_fundo}}"
    titulo="{{bloco?.titulo}}"
    corTitulo="{{bloco?.cor_do_titulo}}"
    descricao="{{bloco?.descricao}}"
    corDescricao="{{bloco?.cor_descricao}}"
    textoCTA="{{bloco?.texto_cta}}"
    textoLinkCTA="{{bloco?.texto_link_cta}}"
    [listaPerguntas]="bloco?.perguntas"
    #faqDestaqueComponent>
    </app-faqDestaque>
    <app-formulario *ngIf="bloco.acf_fc_layout == 'formulario'"
        bgBloco="{{bloco?.cor_de_fundo}}"
        titulo="{{bloco.titulo}}"
        corTitulo="{{bloco.cor_titulo}}"
        subTitulo="{{bloco.subtitulo}}"
        corSubTitulo="{{bloco.cor_subtitulo}}"
        [camposForm]="bloco.campos_do_formulario"
        #formularioComponent>
    </app-formulario>
    <app-destaqueImagem *ngIf="bloco.acf_fc_layout == 'destaque_imagem_fundo'"
         imagemDestaqueMobile="{{bloco.imagem_fundo_mobile}}"
         imagemDestaqueDesktop="{{bloco.imagem_fundo_desktop}}"
         tituloDestaque="{{bloco.titulo}}"
         corTituloDestaque="{{bloco.cor_titulo}}"
         subTituloDestaque="{{bloco.subtitulo}}"
         corSubTituloDestaque="{{bloco.cor_subtitulo}}"
         descricaoDestaque="{{bloco.descricao}}"
         corDescricaoDestaque="{{bloco.cor_descricao}}"
         #destaqueImagemComponent>
    </app-destaqueImagem> 
    <app-faqCompleto *ngIf="bloco.acf_fc_layout == 'duvidas_completo'" 
        titulo="{{bloco?.titulo}}"
        corTitulo="{{bloco?.cor_titulo}}"
        subtitulo="{{bloco?.subtitulo}}"
        corSubtitulo="{{bloco?.cor_subtitulo}}"
        [listaPerguntas]="bloco.categorias_da_duvida"
        #faqCompletoComponent>
    </app-faqCompleto>
    <app-lista-vantagens *ngIf="bloco.acf_fc_layout == 'lista_de_vantagens'"
        idBloco="{{bloco.acf_fc_layout}}"
        bgBloco="{{bloco?.cor_de_fundo}}"
        titulo="{{bloco?.titulo}}"
        corTitulo="{{bloco?.cor_titulo}}"
        descricao="{{bloco?.descricao}}"
        corDescricao="{{bloco?.cor_descricao}}"
        [listaVantagens]="bloco?.vantagens" #listaVantagensComponent>
    </app-lista-vantagens>
    <app-comparativo *ngIf="bloco.acf_fc_layout == 'tabela_comparativa'"
        bgBloco="{{bloco?.cor_de_fundo}}"
        titulo="{{bloco?.titulo_bloco}}"
        corTitulo="{{bloco?.cor_titulo}}"
        [listaCompra]="bloco?.linha_tabela_compra"
        [listaAssinatura]="bloco?.linha_tabela_assinatura" #comparativoComponent>
    </app-comparativo>
</div>