<nav class="navbar navbar-expand-lg " [ngStyle]="{'background-color': headerBackground}"
  [ngClass]="!headerVisibility ? 'hide' : ''">
  <div class="container">
    <div *ngIf="hasBackNav" (click)="goBack()" class="back-nav hidden-md-up">
      <img src="assets/icons/nav-back.svg" alt="Voltar" />
    </div>

    <a class="navbar-brand" [routerLink]="['/']" href="javascript:void(0);">
      <img src="assets/images/loopster.svg" alt="Loopster" />
    </a>

    <button (click)="toggleMobileNav($event);"
      class="hamburger hamburger--elastic hidden-lg-up {{mobileMenuIconStatus}}" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>

    <div *ngIf="loggedNav" class="assine-header logged-menu menu-logged-mobile">
      <a class="nav-link textwhite" (click)="dropdownLoginMobile()" href="javascript:void(0);">
        <div *ngIf="!isDealership" class="user-avatar" [ngStyle]="{'background-image': 'url(' + userInfos?.selfieUrl + ')'}"></div>
        <div *ngIf="isDealership" class="user-avatar" [ngStyle]="{'background-image': 'url(' + userInfos?.profileImageUrl + ')'}"></div>
        <p *ngIf="!isDealership" class="mb-0">Bem-vindo,<strong class="user-name">{{ userInfos?.name | firstName}}</strong><img src="../../../../assets/images/arrow-ios-down-black.svg" class="ml-2"></p>
        <p *ngIf="isDealership" class="mb-0"><strong class="user-name">{{ userInfos?.name}}</strong><img src="../../../../assets/images/arrow-ios-down-black.svg" class="ml-2"></p>
      </a>
      <!-- <div class="menu-logged-mobile__bell" *ngIf="notifications.length > 0" [routerLink]="['/dashboard/notificacoes']">
        <img src="../../../../assets/images/bell.svg">
        <span class="btn-notification__number">{{ lengthNotifications }}</span>
      </div> -->
    </div>
    <div class="logged-menu-mobile hidden-md-up" #menuLogoutMobile>
      <ul>
        <li><a href="javascript:void(0)" [routerLink]="['/dashboard']">Minha conta</a></li>
        <li><a href="javascript:void(0)" (click)="logOut()">Sair</a></li>
      </ul>
    </div>

    <div class="navbar-collapse {{ mobileMenuStatus }}" id="textoNavbar"
      [ngClass]="loggedNav ? 'menu-logged-mobile' : ''">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link menuinactive" routerLinkActive="menuactive" [routerLink]="['/quem-somos']"
            href="javascript:void(0);">Conheça</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link menuinactive" routerLinkActive="menuactive" [routerLink]="['/sss']"
            href="javascript:void(0);">Planos</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link menuinactive" routerLinkActive="menuactive" [routerLink]="['/faq']"
            href="javascript:void(0);">Tire suas dúvidas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link menuinactive" routerLinkActive="menuactive" [routerLink]="['/contato']"
            href="javascript:void(0);">Fale conosco</a>
        </li>
        <li *ngIf="!loggedNav" class="nav-item login-header hidden-md-down"
          [ngClass]="!linkLoginVisibility ? 'hide' : ''">
          <a class="nav-link textwhite" (click)="toggleLogin()" id="passClickDesk" #passClickDesk
            href="javascript:void(0);">
            <span class="icon-login"></span>
            <span class="login-text">Faça login</span>
          </a>

          <div class="login-box" [ngClass]="!showLogin ? 'hidden-login' : ''">
            <div class="login-form-header">
              <app-login *ngIf="!stepNewPass && !passwordChanged && !generateContract && innerWidth > 767"
                isPage="false"></app-login>
              <div *ngIf="stepNewPass && innerWidth > 767 && !passwordChanged && !generateContract" class="passflow">
                <div class="title-passflow">Criar uma nova senha</div>
                <p class="passflow-text">Crie uma nova senha e acesse sua conta Loopster</p>
                <form class="form-horizontal" [formGroup]="form">
                  <div class="floating-label">
                    <input class="floating-input" formControlName="oldPassword" name="oldPassword" type="password"
                      placeholder=" ">
                    <label>Senha enviada por e-mail</label>
                    <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('oldPassword')">Senha inválida</span>
                  </div>
                  <div class="floating-label">
                    <input class="floating-input" formControlName="password" name="password" type="password"
                      placeholder=" ">
                    <label>Nova senha</label>
                    <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('password')">Senha inválida</span>
                  </div>
                  <div class="floating-label">
                    <input class="floating-input" formControlName="confirmPassWord" name="confirmPassWord"
                      type="password" placeholder=" ">
                    <label>Repetir a senha</label>
                    <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('confirmPassWord')">As senhas digitadas
                      são diferentes</span>
                  </div>
                  <span class="pass-disclaimer">Mínimo: 1 caracter especial e 6 dígitos</span>
                  <div class="floating-label login-label">
                    <div class="form-buttom">
                      <button class="button-secundary buttontextpink login-button" (click)="onSubmit()">Criar nova
                        senha</button>
                    </div>
                  </div>
                </form>
              </div>
              <div *ngIf="passwordChanged && !generateContract" class="passflow">
                <div class="title-passflow success-title">Nova senha criada com sucesso <span>;)</span></div>
                <p class="passflow-text">Você criou uma nova senha. Faça seu login para acessar a Loopster.</p>
                <div class="floating-label login-label">
                  <div class="form-buttom">
                    <button class="button-secundary buttontextpink login-button" (click)="doLogin()">Fazer
                      login</button>
                  </div>
                </div>
              </div>
              <div *ngIf="generateContract && !passwordChanged " class="passflow">
                <div class="title-passflow success-title">Nova senha criada com sucesso <span>;)</span></div>
                <p class="passflow-text">Estamos gerando seu contrato baseado na sua simulação!.</p>
              </div>
            </div>
          </div>
        </li>
        <li *ngIf="!loggedNav" class="nav-item assine-header hidden-md-down">
          <a class="nav-link textwhite" [routerLink]="['/simulador']" href="javascript:void(0);">Simular agora</a>
        </li>
        <li *ngIf="loggedNav" class="nav-item login-header hidden-md-down">
          <a class="nav-link textwhite" [routerLink]="['/simulador']" href="javascript:void(0);">
            <span class="login-text ml-0">Simular agora</span>
          </a>
        </li>
        <li *ngIf="loggedNav" class="nav-item assine-header logged-menu hidden-md-down item-menu-options"
          #itemMenuOptions>
          <a *ngIf="!isDealership" class="nav-link textwhite" (click)="dropdownLogin()" href="javascript:void(0);">
            <div class="user-avatar" [ngStyle]="{'background-image': 'url(' + userInfos?.selfieUrl + ')'}"></div>
            Bem-vindo,<strong class="user-name">{{ userInfos?.name | firstName}}</strong>
            <img src="../../../../assets/images/arrow-ios-down.svg" class="ml-2">
          </a>
          <a *ngIf="isDealership" class="nav-link textwhite" (click)="dropdownLogin()" href="javascript:void(0);">
            <div class="user-avatar" [ngStyle]="{'background-image': 'url(' + userInfos?.profileImageUrl + ')'}"></div>
            <strong class="user-name">{{ userInfos?.name}}</strong>
            <img src="../../../../assets/images/arrow-ios-down.svg" class="ml-2">
          </a>

          <div class="btn-notification" (click)="openNotifications()">
            <img *ngIf="notificationsOpened" src="../../../../assets/images/bell.svg">
            <img *ngIf="!notificationsOpened" src="../../../../assets/images/bell-white.svg">
            <span class="btn-notification__number" *ngIf="notifications?.length > 0">{{ lengthNotifications }}</span>
          </div>

          <div class="menu-logout" #menuLogout>
            <ul>
              <li><a href="javascript:void(0)" [routerLink]="['/dashboard']" class="dash-button">Minha conta</a></li>
              <li><a href="javascript:void(0)" (click)="logOut()">Sair</a></li>
            </ul>
          </div>

          <div class="menu-notification" #menuNotification>
            <div *ngIf="notifications?.length > 0">
              <div class="menu-notification__notification" *ngFor="let notification of notifications"
                (click)="openDetail(notification.RecIdNotification)">
                <p class="menu-notification__notification-date">
                  {{ notification?.CreatedDateTimeNotification | date:'dd/MM/yyyy' }}</p>
                <h4 class="menu-notification__notification-title">{{ notification?.Title }}</h4>
              </div>

              <button class="button-secundary buttontextpink mx-auto d-block mt-4 mb-2"
                (click)="redirectNotifications()">Ver todas</button>
            </div>

            <div *ngIf="notifications?.length == 0">
              <h4 class="menu-notification__notification-title mb-0 mt-3">Não há novas notificações no momento!</h4>
            </div>
          </div>
        </li>
      </ul>
      <div class="nav-item-mobile hidden-lg-up">
        <li class="nav-item login-header" *ngIf="!loggedNav">
          <a class="nav-link textwhite" [routerLink]="['/login']" href="javascript:void(0);"><span
              class="icon-login"></span> <span class="login-text">Faça login</span></a>
        </li>
        <li class="nav-item login-header" *ngIf="loggedNav">
          <table>
            <tbody>
              <tr>
                <td><a class="nav-link textwhite" [routerLink]="['/dashboard']" href="javascript:void(0);"
                    style="padding-top: 0 !important;padding-bottom: 15px !important;"><span>Minha
                      Conta</span></a></td>
              </tr>
              <tr>
                <td><a href="javascript:void(0)" (click)="logOut()"
                    style="padding-top: 0 !important;padding-bottom: 0 !important;color: #cccccc;"><small>Sair</small></a>
                </td>
              </tr>
            </tbody>
          </table>
        </li>
        <li class="nav-item assine-header" [ngClass]="loggedNav ? 'nav-item__assine-custom' : ''">
          <a class="nav-link textwhite" [routerLink]="['/simulador']" href="javascript:void(0);">Simular agora</a>
        </li>
      </div>
    </div>
  </div>
</nav>
<!-- <div id="social-left">
  <ul>
    <li>
      <a href="#"><span class="icon-facebook"></span></a>
    </li>
    <li>
      <a href="#"><span class="icon-twitter"></span></a>
    </li>
    <li>
      <a href="#"><span class="icon-linkedin"></span></a>
    </li>
    <li>
      <a href="#"><span class="icon-instagram"></span></a>
    </li>
    <li>
      <a href="#"><span class="icon-youtube"></span></a>
    </li>
  </ul>
</div> -->
<!-- <div class="d-block">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div id="float-chat">
          <div class="chat-tooltip">
            <div class="chat-title">Precisa de ajuda?</div>
            <div class="chat-text">Use o chat a qualquer momento</div>
            <span class="fechar-chat" (click)="toggleChat($event);">X</span>
          </div>
          <img src="/assets/images/float-chat.svg" />
        </div>
      </div>
    </div>
  </div>
</div> -->
<div (click)="openPassModal(passModal)" id="passClick" #passClick></div>
<ng-template #passModal let-modal>
  <div class="modal-header">
    <h4 class="tittledark-grey" id="modal-basic-title" *ngIf="!passwordChanged">Criar uma nova Senha</h4>
    <div class="textdark-grey" *ngIf="!passwordChanged">Crie uma nova senha e acesse sua conta Loopster.</div>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body coverage-modal">
    <form *ngIf="stepNewPass && innerWidth < 768 && !passwordChanged" class="form-horizontal" [formGroup]="form">
      <div class="floating-label">
        <input class="floating-input" formControlName="oldPassword" name="oldPassword" type="password" placeholder=" ">
        <label>Senha enviada por e-mail</label>
        <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('oldPassword')">Senha inválida</span>
      </div>
      <div class="floating-label">
        <input class="floating-input" formControlName="password" name="password" type="password" placeholder=" ">
        <label>Senha</label>
        <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('password')">Senha inválida</span>
      </div>
      <div class="floating-label">
        <input class="floating-input" formControlName="confirmPassWord" name="confirmPassWord" type="password"
          placeholder=" ">
        <label>Repetir a senha</label>
        <span class="obs-campo-erro" *ngIf="verifyInvalidAndTouched('confirmPassWord')">As senhas digitadas são
          diferentes</span>
      </div>
      <span class="pass-disclaimer">Mínimo: 1 caracter especial e 6 dígitos</span>
      <div class="floating-label login-label">
        <div class="form-buttom">
          <button class="button-secundary buttontextpink login-button" (click)="onSubmit()">Criar nova senha</button>
        </div>
      </div>
    </form>
    <div *ngIf="passwordChanged" class="passflow">
      <div class="title-passflow success-title">Nova senha criada com sucesso <span>;)</span></div>
      <p class="passflow-text">Você criou uma nova senha. Faça seu login para acessar a Loopster.</p>
      <div class="floating-label login-label">
        <div class="form-buttom">
          <button class="button-secundary buttontextpink login-button" (click)="doLogin()">Fazer login</button>
        </div>
      </div>
    </div>
  </div>
</ng-template>