<!-- property-binding -->
<section class="property-binding container">
  
  <h1>property-binding</h1>

  <article class="mt-3">
    <h3>Interpolação</h3>
    <p>{{ url }}</p>
    <p>Resultado de 1 + 1 é: {{ 1 + 1 }}</p>
    <p>Resultado de 1 + 1 não é {{ 1 + 1 + getValor() }}</p>
    <p>Curso de angular e gosto do curso: {{ cursoAngular && getCurtirCurso() }}</p>
  </article>

  <article class="mt-3">
    <h3>Property binding</h3>
    <img src="{{ urlImagem }}">
    <img [src]="urlImagem">
    <img bind-src="urlImagem">
  </article>

  <article class="mt-3">
    <h3>Class e Style Binding</h3>
    <div>
      Selecione uma classe:
      <select #classe (change)="0">
        <option value="alert-success">Sucesso</option>
        <option value="alert-info">Info</option>
        <option value="alert-warning">Alerta</option>
        <option value="alert-danger">Erro</option>
      </select>
      <br><br>

      <div class="alert {{ classe.value }}" role="alert">
        Texto colorido conforme o valor do combobox.
      </div>

      <div class="alert" role="alert" [class.alert-success]="classe.value == 'alert-success'">Sucesso</div>
      <div class="alert" role="alert" [class.alert-info]="classe.value == 'alert-info'">Info</div>
      <div class="alert" role="alert" [class.alert-warning]="classe.value == 'alert-warning'">Alerta</div>
      <div class="alert" role="alert" [class.alert-danger]="classe.value == 'alert-danger'">Erro</div>

      <div class="alert alert-danger" role="alert" [style.display]="classe.value == 'alert-danger' ? 'block' : 'none'">
        Esse texto somente aparece em caso de erro.
      </div>
    </div>
  </article>

</section>

<!-- event-binding -->
<section class="event-binding container mt-5 mb-5">
  <h1>Event binding</h1>

  <article class="mt-3">
    <div>
      <button (click)="botaoClicado()" class="btn btn-primary">Me clique!</button>

      <br><br>

      <input type="text" (keyup)="onKeyUp($event)" 
                         (keyup.enter)="salvarValor($event.target.value)"
                         (blur)="salvarValor(campoInput.value)"
                         #campoInput />
      <p>Valor atual: {{ valorAtual }}</p>
      <p>Valor salvo: {{ valorSalvo }}</p>

      <br>
      <span (mouseover)="onMouseOverOut()" (mouseout)="onMouseOverOut()" [class.highlight]="isMouseOver">Passe o mouse sobre mim</span>
    </div>
  </article>
</section>

<!-- two-way data binding -->
<app-meu-form></app-meu-form>

<!-- input-property -->
<section class="input-output-properties container mt-5 mb-5">

  <article>
    <h1>Input/Output Properties</h1>

    <app-curso [nome]="nomeDoCurso"></app-curso>

    <contador [valor]="valorInicial" (mudouValor)="onMudouValor($event)"></contador>

  </article>

</section>