// .input-icon-holder{
//     height: 40px;
//     width: 40px;
//     margin-left: -8px;
//     margin-right: 8px;
//     background-color: transparent;
//     font-size: 29px;
// }
// .input-with-icon{
//     background: #fff;
// }

// .input-with-icon, ion-label{
//     padding-left: 16px;
// }

// ion-item ion-label{
//     padding-left: 0;    
// } 

// .input-with-icon{
//     padding-bottom: 10px;
// }

// ion-icon{ 
//     color: #757575;
// }

// .input-label{
//     color: #0b3a7a;
// }
.container{
    padding: 10px 16px 1px 0px;
    background: white;
}

ion-button {
    width: 95%;
    margin: 10px;
    height: 44px;
    border-radius: 16px !important;
    --border-radius: 16px;
    color: #fff;
    --background: #2f80ed;
}

ion-item{
    --color: #0b3a7a;
}
